<form [formGroup]="form" (ngSubmit)="onAddVariantSubmit()">
  <fieldset>
    <legend>Create variant</legend>

    <div>
      <label for="variant">Variant</label>
      <input id="variant" type="text" formControlName="variant" placeholder="variant" />
      @if (form.get('variant')?.invalid && form.get('variant')?.touched) {
      <small class="error">Variant value is required</small>
      }
    </div>

    <button type="submit" [disabled]="form.invalid">Create</button>
  </fieldset>
</form>

<table border="1">

  <tr>
    <th>Translation Variants</th>
    <th></th>
  </tr>

  @for (variant of getVariations(); track $index) {
    <tr>
      <td><input type="text" #variantName [value]="variant.name" (input)="onChangeVariantName(variant.key, variantName.value)"></td>
      <td><button type="button" (click)="deleteVariant(variant.key)">×</button></td>
    </tr>
  }
</table>