<form [formGroup]="form" (ngSubmit)="onPatternFormSubmit()">
  <fieldset>
    <legend>Create word extrapolation</legend>

    <div>
      <label for="word">Word</label>
      <input id="word" type="text" formControlName="word" placeholder="word" />
      @if (form.get('word')?.invalid && form.get('word')?.touched) {
      <small class="error">Word value is required</small>
      }
    </div>

    <div>
      <label for="type">Type</label>
      <select id="type" formControlName="type">
        <option selected value="prefix">Prefix</option>
        <option value="suffix">Suffix</option>
      </select>
      @if (form.get('type')?.invalid && form.get('type')?.touched) {
      <small class="error">Type selection is required</small>
      }
    </div>

    <button type="submit" [disabled]="form.invalid">Create</button>
  </fieldset>
</form>

<table class="textCenter" border="1">
  <thead>
    <tr>
      <th>Type</th>
      <th>Pattern</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th colspan="3">{{title[lang]}}</th>
    </tr>
    @for (pattern of patterns.prefix.keys(); track $index) {
    <tr>
      <td>prefix</td>
      <td>{{pattern}}</td>
      <td><a (click)="deletePattern('hebraic', 'prefix', $index, pattern)">×</a></td>
    </tr>
    }

    @for (pattern of patterns.suffix.keys(); track $index) {
    <tr>
      <td>suffix</td>
      <td>{{pattern}}</td>
      <td><a (click)="deletePattern('hebraic', 'suffix', $index, pattern)">×</a></td>
    </tr>
    }
  </tbody>
</table>