<form>
  <h1>New Project</h1>

  <div>
    <div class="fieldGroup">
      <label>Name</label>
      <input [(ngModel)]="newProject.basicInfo.name" type="text" />
    </div>

    <div class="fieldGroup">
      <label>Language target</label>
      <input [(ngModel)]="newProject.basicInfo.language" type="text" />
    </div>

    <div class="fieldGroup">
      <label>Destination</label>
      <input [(ngModel)]="newProject.basicInfo.destination" type="text" readonly />
    </div>
    <button type="button" (click)="chooseDestination()">Choose</button>
  </div>

  @if (newProject.basicInfo.language) {
  <fieldset>
    <legend>Add Repository</legend>

    <table>
      <thead>
        <tr>
          <th>Codex</th>
          <th>From</th>
        </tr>
      </thead>
    </table>

    <div class="fieldGroup">
      <label>Repository Alias</label>
      <input #repositoryAlias type="text" />
    </div>

    <div class="fieldGroup">
      <label>Repository Address</label>
      <input #repositoryAddress type="text" placeholder="https://.../repository.json" />
    </div>

    <button type="button" (click)="addRepository(repositoryAlias, repositoryAddress)">+ Repository</button>
  </fieldset>

  <fieldset>
    <legend>Import Codex</legend>

    <table>
      <thead>
        <tr>
          <th>Codex</th>
          <th>From</th>
        </tr>
      </thead>

      <tbody>
        @for (codex of newProject.relatedCodex; track $index) {
        <tr>
          <td>{{codex.key}}</td>
          <td>{{codex.from}}</td>
        </tr>
        }
      </tbody>
    </table>

    <div class="fieldGroup">
      <label>Search Remote Codex</label>
      <input #searchRemoteCodex list="datalistSearchRemoteCodex" type="search" />
      <datalist id="datalistSearchRemoteCodex">
        @for (codex of remoteCodex | keyvalue; track $index) {
        <option [value]="codex.key">{{codex.value}}</option>
        }
      </datalist>
    </div>

    <button (click)="addRelatedCodexFromRepository(searchRemoteCodex)" type="button">+ from repositories</button>
    <button (click)="addRelatedCodexFromDisk()" type="button">+ from disk</button>
  </fieldset>

  <fieldset>
    <legend>Project Target Books</legend>

    <table>
      <thead>
        <tr>
          <th>Book id</th>
          <th>Book name in {{newProject.basicInfo.language}}</th>
        </tr>
      </thead>
    </table>

    <div class="fieldGroup">
      <label>Book</label>
      <select>
        <option></option>
      </select>
    </div>
  </fieldset>

  <fieldset>
    <legend>Project Purposes</legend>

    <table>
      <thead>
        <tr>
          <th>Codex</th>
          <th>Purpose</th>
        </tr>
      </thead>
    </table>

    <div class="fieldGroup">
      <label>Codex</label>
      <select>
        <option></option>
      </select>
    </div>

    <div class="fieldGroup">
      <label>Purposes</label>
      <select>
        <option value="translation-viewer">Translation Viewer for Reference</option>
        <option value="metadata-editor">Scripture Metadata Editor</option>
      </select>
    </div>

    <div class="fieldGroup">
      <label>Cutom Translation</label>
      <input type="checkbox" />
    </div>

    <button type="button">+ Add</button>
  </fieldset>

  <fieldset>
    <legend>Associate Interlinear Purposes</legend>

    <table>
      <thead>
        <tr>
          <th>Codex</th>
          <th>Interlinear</th>
          <th>From</th>
        </tr>
      </thead>
    </table>

    <div class="fieldGroup">
      <label>From metadata</label>
      <select>
        <option></option>
      </select>
    </div>

    <div class="fieldGroup">
      <label>Cutom Translation</label>
      <input type="checkbox" />
    </div>

    <button type="button">+ Add</button>
  </fieldset>
  }

  <button type="submit">Create</button>
</form>