@if (sourceVerse) {
  @let wordList = splitByLanguageWordSeparator(sourceLanguage, sourceVerse.text);

  @let parsedBook = parseBook(projectData[structure.metadataTarget], sourceLanguage);
  @let wordMatrix = splitIntoMatrix(sourceLanguage, parsedBook.patterns, sourceVerse);

  @let originParsedBook = parseBook(projectData[originStructure.metadataTarget], originLanguage);
  @let originWordMatrix = splitIntoMatrix(originLanguage, originParsedBook.patterns, originVerse);

  <app-scripture-metadata-component
    title="Interlinear" [interlinearRowspan]="3" [wordList]="wordList" [wordMatrix]="wordMatrix" [codexMetadataRecord]="codexMetadataRecord"
    [current]="current" [structure]="structure" [sourceLanguage]="sourceLanguage" [sourceBookRecord]="sourceBookRecord"
    [project]="project" [projectData]="projectData" [bookTarget]="bookTarget"
    [sourceBook]="sourceBook" [sourceVerse]="sourceVerse" [customTranslation]="customTranslation"
    [addPatternMenuRef]="addPatternMenuRef" [viewingTranslationBookRecord]="viewingTranslationBookRecord"
    [pipeUpdaterController]="pipeUpdaterController" [getColor]="getTranslationColor.bind(this)"
  >
    <tr>
      <td [colSpan]="wordList.length">
        @for (word of wordMatrix; track $index) {
          @for (segment of word.segments; track segment.index) {
            @let value = segment.word | lexical : parsedBook : originLanguage : pipeUpdaterController;
            @if (value.length) {<span [class]="'prisma'+getTranslationColor(segment.index)">{{value}}</span>&nbsp;}
          }
        }
      </td>
    </tr>
    <tr>
      <th>interlinear</th>
      @for (word of wordMatrix; track $index; let y = $index) {
        <td>
          @for (translationSegment of word.segments; track $index) {
            <select #interlinear
              (change)="onChangeInterlinearToBaseScripture(translationSegment.index, translationSegment.word, interlinear.value)"
              [ngModel]="getInterlinearWordSegmentSerialized(translationSegment.index)"
              [name]="'translationToSourceInterlinear' + $index">
              <option value=""></option>
              @for (originWords of originWordMatrix; track $index) {
                @for (segment of originWords.segments; track $index) {
                  <option [value]="castSegmentIntoMetadataIndex(segment)">({{segment.index}} - {{segment.word}} )</option>
                }
              }
            </select>
          }
        </td>
      }
      <td><button type="button" (click)="cleanTranslationInterlinear()">×</button></td>
    </tr>
  </app-scripture-metadata-component>

}
