@if (sourceVerse) {
  @let wordList = splitByLanguageWordSeparator(sourceLanguage, sourceVerse.text);
  @let parsedBook = parseBook(projectData[structure.metadataTarget], sourceLanguage);
  @let wordMatrix = splitIntoMatrix(sourceLanguage, parsedBook.patterns, sourceVerse);

  <app-scripture-metadata-component
    title="Interlinear" [wordList]="wordList" [wordMatrix]="wordMatrix" [originToInterlinear]="originToInterlinear"
    [codexMetadataRecord]="codexMetadataRecord" [current]="current" [structure]="structure"
    [sourceLanguage]="sourceLanguage" [sourceBookRecord]="sourceBookRecord" [project]="project"
    [projectData]="projectData" [bookTarget]="bookTarget" [verseIndex]="verseIndex"
    [sourceBook]="sourceBook" [sourceVerse]="sourceVerse" [customTranslation]="customTranslation"
    [addPatternMenuRef]="addPatternMenuRef" [defineMorphemeRef]="defineMorphemeRef"
    [viewingTranslationBookRecord]="viewingTranslationBookRecord" [pipeUpdaterController]="pipeUpdaterController"
  >
    @for (origin of originToInterlinear; track $index) {
      @let originParsedBook = parseBook(projectData[origin.structure.metadataTarget], origin.language);
      @let originWordMatrix = splitIntoMatrix(origin.language, originParsedBook.patterns, origin.verse);

      <tr>
        <th rowspan="3">interlinear <span class="interlinearSource">{{origin.structure.source}}</span></th>
        <td [colSpan]="wordList.length" [attr.lang]="languageMetadataRecord[sourceLanguage].label">
          @for (word of wordMatrix; track $index) {
            @for (segment of word.segments; track segment.index) {
              @if (segment.word.length) {
                <span [class]="'prisma'+getTranslationColor(origin.structure, segment.index)">{{segment.word}}</span>
              }
            }
  
            @if (word.separator) {{{word.separator === ' ' ? '&nbsp;' : word.separator}}}
          }
        </td>
        <td></td>
      </tr>
      <tr>
        <td [colSpan]="wordList.length">
          @for (word of wordMatrix; track $index) {
            @for (segment of word.segments; track segment.index) {
              @let lexical = segment.word | lexical : parsedBook : origin.language : getMorpheme(word.segments, segment.index) : pipeUpdaterController;
              @if (lexical.value.length) {<span [class]="'prisma'+getTranslationColor(origin.structure, segment.index)">{{lexical.value}}</span>&nbsp;}
            }
          }
        </td>
      </tr>
      <tr>
        @for (word of wordMatrix; track $index; let y = $index) {
          <td>
            @for (translationSegment of word.segments; track $index) {
              <select #interlinear
                (change)="onChangeInterlinearToBaseScripture(origin.structure, translationSegment.index, translationSegment.word, interlinear.value)"
                [ngModel]="getInterlinearWordSegmentSerialized(origin.structure, translationSegment.index)"
                [name]="'translationToSourceInterlinear' + $index">
                <option value=""></option>
                @for (originWords of originWordMatrix; track $index) {
                  @for (segment of originWords.segments; track $index) {
                    <option [value]="castSegmentIntoMetadataIndex(segment)">({{segment.index}} - {{segment.word}} )</option>
                  }
                }
              </select>
            }
          </td>
        }
        <td><button type="button" (click)="cleanTranslationInterlinear(origin.structure)">×</button></td>
      </tr>
    }
  </app-scripture-metadata-component>

}
