<fieldset>
  <legend>Translation</legend>
  <select #bibleTranslation name="bibleTranslation" placeholder="Translation">
    <option></option>

    @if (repositories) {
      @for (repository of repositories | keyvalue; track $index) {
        <optgroup [attr.label]="repository.value.name">
          @for (translation of repository.value.translations | keyvalue; track $index) {
            <option [attr.value]="translation.key">{{translation.value.name}}</option>
          }
        </optgroup>    
      }
    }

  </select>

  <button (click)="loadTranslation(bibleTranslation.value); bibleTranslation.value = ''" type="button">+</button>
</fieldset>