

@if (selectedHebraicBook && isOldBookGuard(currentBook)) {

@let hebraicVerses = selectedHebraicBook[currentChapter];
@for (hebraicVerse of hebraicVerses; track hebraicVerse.verse.start; let verseKey = $index) {
@let hebraic = hebraicVerse.text.split(' ');
@let eachHebraicWord = splitIntoMatrix(hebraicVerse.text, 'hebraic');
@let geezVerses = getCorrespondingGeezVerse(hebraicVerse);

<strong class="verseTitle">{{bookMetadata[currentBook].normal}}, {{currentChapter + 1}}:{{hebraicVerse |
  verse}}</strong>
<table border="1">
  @for (chapterTranslation of chapterTranslations; track $index) {
  <tr>
    <th>translation <button type="button" (click)="cleanTranslationByIndex($index)">×</button></th>
    <td [colSpan]="hebraic.length">{{chapterTranslation[verseKey] && chapterTranslation[verseKey].text}}</td>
    <td></td>
  </tr>
  }
  <tr>
    <th rowspan="2">scriptures</th>
    <td [colSpan]="hebraic.length" [appAddPatternContextMenuTrigger]="addPatternMenuRef" lang="hebraic">
      @for (sentence of eachHebraicWord; track $index) {
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word}}</span>
      }
      <span>&nbsp;</span>
      }
    </td>
    <td></td>
  </tr>
  <tr [appAddPatternContextMenuTrigger]="addPatternMenuRef" lang="hebraic">
    @for (sentence of eachHebraicWord; track $index) {
    <td>
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word}}</span>
      }
    </td>
    }
    <td></td>
  </tr>
  <tr>
    <th>transliteration</th>
    @for (sentence of eachHebraicWord; track $index) {
    <td>
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word | transliteration : 'hebraic'}}</span>
      }
    </td>
    }
    <td></td>
  </tr>
  <tr>
    <th>God said</th>
    @for (word of hebraic; track $index; let wordIndex = $index) {
    <td>
      <input type="checkbox" #hebraicWordOfGodEl [name]="'isWordOfGod' + wordIndex"
        (change)="setAsWordOfGod(hebraicWordOfGodEl, verseKey, hebraicVerse, eachHebraicWord[wordIndex], 'hebraic')"
        [checked]="getScriptureMetadataWordOfGod(verseKey, eachHebraicWord[wordIndex], 'hebraic')" />
    </td>
    }
    <td><button (click)="cleanWordOfGodFromVerse(hebraicVerse, 'hebraic')" type="button">×</button></td>
  </tr>

  <tr>
    <th>metadata</th>
    @for (word of eachHebraicWord; track $index; let wordIndex = $index) {
    <td>
      @for (segment of word; track $index; let segmentIndex = $index) {
      <select #hebraicMetadataEl [name]="'fieldHebraicMetadata' + segment.index"
        [value]="getScriptureMetadataDefinedKind(verseKey, segment, 'hebraic')"
        (change)="updateScripturesMetadata(hebraicMetadataEl, verseKey, hebraicVerse, segment, 'hebraic')"
        (focus)="showLegend = true" (blur)="showLegend = false">
        <option value="">-</option>
        <option value="godname">G</option>
        <option value="character">C</option>
        <option value="keyword">K</option>
        <option value="amount">A</option>
      </select>
      }
    </td>
    }
    <td><button (click)="cleanScriptureMetadata(hebraicVerse, 'hebraic')" type="button">×</button></td>
  </tr>

  <tr>
    <th rowspan="2">interlinear</th>
    @for (sentence of eachHebraicWord; track $index) {
    <td>
      @for (word of sentence; track $index) {
      @let lexical = word.word | lexical : 'hebraic' : pipeUpdaterController;
      <input type="text" [name]="'fieldHebraic' + word.index" [placeholder]="word.word" #fieldHebraicLexical
        [style.width.px]="calcFieldSize(word.word, lexical)"
        (input)="updateLexical(fieldHebraicLexical, word.word, 'hebraic')" [value]="lexical" />
      }
    </td>
    }
    <td rowspan="2"><button (click)="cleanLexicalInterlinear(eachHebraicWord, 'hebraic')" type="button">×</button></td>
  </tr>
  <tr>
    <td [colSpan]="hebraic.length">
      @for (sentence of eachHebraicWord; track $index) {
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word | literalizate : hebraicPatterns : 'hebraic' : pipeUpdaterController}}</span>
      <span>&nbsp;</span>
      }
      }
    </td>
  </tr>
  <tr>
    <th>gematrics</th>
    @for (word of hebraic; track $index) {
      <td>{{word | gematrics}}</td>
    }
    <td></td>
  </tr>
  <tr>
    <th rowspan="2">hypothetical paleo</th>

    @for (sentence of eachHebraicWord; track $index) {
    <td>
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word | paleo}}</span>
      }
    </td>
    }
    <td rowspan="2"></td>
  </tr>
  <tr>
    <td [colSpan]="hebraic.length">
      @for (sentence of eachHebraicWord; track $index) {
        @for (word of sentence; track $index) {
          <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word | paleo}}</span>
        }
        <span>&nbsp;</span>
      }
    </td>
  </tr>
</table>

<div class="buttonGroup">
  <button type="button" (click)="derivateAllToCustom(hebraicVerse, 'hebraic')"> ▼ All </button>
</div>

<table border="1">
  @let splittedCustomTranslation = pipeUpdaterController && splitTextBySpacesAndPunctuation(customHebraicTranslationEl.value) || [];
  <tr>
    <th rowspan="3">custom</th>
    <td [colSpan]="splittedCustomTranslation.length">
      <input type="text" #customHebraicTranslationEl class="customTranslation" name="customHebraicTranslation"
        placeholder="custom translation"
        (input)="updateCustomTranslation(customHebraicTranslationEl, hebraicVerse, 'hebraic')"
        [value]="getCustomTranslationVerse(customHebraicTranslation, hebraicVerse)?.text" />
    </td>
    <td rowspan="3"><button (click)="cleanCustomTranslation(customHebraicTranslationEl, hebraicVerse, 'hebraic')" type="button">×</button></td>
  </tr>

  <tr>
    <td [colSpan]="splittedCustomTranslation.length">
      @for (sentence of splittedCustomTranslation; track $index) {
      <span [class]="'prisma'+getCustomTranslationFromHebraicColor(hebraicVerse, $index)">{{sentence}}</span>
      <span>&nbsp;</span>
      }
    </td>
  </tr>

  <tr>
    <td [colSpan]="splittedCustomTranslation.length">
      @for (sentence of splittedCustomTranslation; track $index) {
      <span [class]="getCustomTranslationStyleRole(hebraicVerse, $index, 'hebraic')">{{sentence}}</span>
      <span>&nbsp;</span>
      }
    </td>
  </tr>

  <tr>
    <th>interlinear</th>
    @for (sentence of splittedCustomTranslation; track $index) {
    <td>
      {{sentence}}
    </td>
    }
    <td></td>
  </tr>

  <tr>
    <th>scriptures</th>
    @for (sentence of splittedCustomTranslation; track $index) {
    <td>
      <select
        #interlinearHebraicCustomTranslationEl
        [name]="'selectInterlinearHebraicCustomTranslationEl' + pipeUpdaterController + $index"
        [ngModel]="getCustomTranslationInterlinearValue(customHebraicTranslation, hebraicVerse, $index)"
        (change)="saveCustomTranslationInterlinearMetadata(interlinearHebraicCustomTranslationEl.value, hebraicVerse, $index, 'hebraic')">
        <option value=""></option>
        @for (hebraicsWord of eachHebraicWord; track $index) {
        @for (hebraicWord of hebraicsWord; track $index) {
        <option [value]="castSegmentIntoMetadataIndex(hebraicWord)">({{hebraicWord.index}} - {{hebraicWord.word}} )
        </option>
        }
        }
      </select>
    </td>
    }

    @if (!splittedCustomTranslation.length) {
      <td></td>
    }
    <td><button type="button" (click)="cleanGeezScripturesInterlinear(hebraicVerse, 'hebraic')">×</button></td>
  </tr>
</table>

<hr />

@for (geezVerse of geezVerses; track geezVerse.verse.start; let geezVerseKey = $index) {
@let geez = geezVerse.text.split(' ');
@let eachGeezWord = splitIntoMatrix(geezVerse.text, 'geez');

<table border="1">
  <tr>
    <th rowspan="2">Ge'əz</th>
    <td [colSpan]="geez.length" [appAddPatternContextMenuTrigger]="addPatternMenuRef" lang="geez">
      @for (sentence of eachGeezWord; track $index) {
      @for (word of sentence; track word.index) {
      <span [class]="'prisma'+getGeezColor(geezVerse, word.index)">{{word.word}}</span>
      }
      <span>&nbsp;</span>
      }
    </td>
    <td rowspan="2"></td>
  </tr>
  <tr [appAddPatternContextMenuTrigger]="addPatternMenuRef" lang="geez">
    @for (sentence of eachGeezWord; track $index) {
    <td>
      @for (word of sentence; track word.index) {
      <span [class]="'prisma'+getGeezColor(geezVerse, word.index)">{{word.word}}</span>
      }
    </td>
    }
  </tr>
  <tr>
    <th>transliteration</th>
    @for (sentence of eachGeezWord; track $index) {
    <td>
      @for (word of sentence; track word.index) {
      <span [class]="'prisma'+getGeezColor(geezVerse, word.index)">{{word.word | transliteration : 'geez'}}</span>
      }
    </td>
    }
    <td></td>
  </tr>
  <tr>
    <th rowspan="2">interlinear</th>
    @for (sentence of eachGeezWord; track $index) {
    <td>
      @for (word of sentence; track $index) {
      @let literal = word.word | lexical : 'geez' : pipeUpdaterController;
      <input type="text" [name]="'fieldGeez' + word.index" [placeholder]="word.word" #field
        [style.width.px]="calcFieldSize(word.word, literal)" (input)="updateLexical(field, word.word, 'geez')"
        [value]="literal" />
      }
    </td>
    }
    <td rowspan="2"><button type="button" (click)="cleanLexicalInterlinear(eachGeezWord, 'geez')">×</button></td>
  </tr>
  <tr>
    <td [colSpan]="geez.length">
      @for (sentence of eachGeezWord; track $index) {
      @for (word of sentence; track word.index) {
      <span [class]="'prisma'+getGeezColor(geezVerse, word.index)">{{word.word | literalizate : geezPatterns : 'geez' : pipeUpdaterController}}</span>
      <span>&nbsp;</span>
      }
      }
    </td>
  </tr>
  <tr>
    <th>scriptures</th>
    @for (sentence of eachGeezWord; track $index) {
    <td>
      @for (geezWord of sentence; track $index) {
      <select #interlinear
        (change)="onSelectInterlinearGeezToScripture(hebraicVerse, geezVerse, geezWord.index, geezWord.word, interlinear.value, 'hebraic')"
        [ngModel]="getGeezInterlinear(geezVerse, geezWord.index)"
        [name]="'geezHebraicInterlinear' + $index + '-' + geezWord.word">
        <option value=""></option>
        @for (hebraicsWord of eachHebraicWord; track $index) {
        @for (hebraicWord of hebraicsWord; track $index) {
        <option [value]="castSegmentIntoMetadataIndex(hebraicWord)">({{hebraicWord.index}} - {{hebraicWord.word}} )
        </option>
        }
        }
      </select>
      }
    </td>
    }
    <td><button type="button" (click)="cleanGeezTranslationInterlinear(geezVerse, 'hebraic')">×</button></td>
  </tr>
</table>

<div class="buttonGroup">
  <button type="button" (click)="derivateAllToCustom(geezVerse, 'geez')"> ▼ All </button>
</div>

<table border="1">
  @let splittedCustomTranslation = splitTextBySpacesAndPunctuation(customGeezTranslationEl.value);
  <tr>
    <th rowspan="3">custom</th>
    <td [colSpan]="splittedCustomTranslation.length">
      <input type="text" #customGeezTranslationEl class="customTranslation" name="customGeezTranslation"
        placeholder="custom translation" (input)="updateCustomTranslation(customGeezTranslationEl, geezVerse, 'geez')"
        (input)="updateCustomTranslation(customGeezTranslationEl, geezVerse, 'geez')"
        [value]="getCustomTranslationVerse(customGeezTranslation, geezVerse)?.text" />
    </td>
    <td rowspan="3"><button type="button">×</button></td>
  </tr>

  <tr>
    <td [colSpan]="splittedCustomTranslation.length">
      @for (sentence of splittedCustomTranslation; track $index) {
      <span [class]="'prisma'+getGeezCustomTranslationColor(geezVerse, $index)">{{sentence}}</span>
      <span>&nbsp;</span>
      }
    </td>
  </tr>

  <tr>
    <td [colSpan]="splittedCustomTranslation.length">
      @for (sentence of splittedCustomTranslation; track $index) {
      <span [class]="getCustomTranslationStyleRole(geezVerse, $index, 'geez')">{{sentence}}</span>
      <span>&nbsp;</span>
      }
    </td>
  </tr>

  <tr>
    <th>interlinear</th>
    @for (sentence of splittedCustomTranslation; track $index) {
    <td>
      {{sentence}}
    </td>
    }
    <td></td>
  </tr>

  <tr>
    <th>scriptures</th>
    @for (sentence of splittedCustomTranslation; track $index) {
    <td>
      <select [name]="'selectInterlinearGeezCustomTranslationEl' + $index" #interlinearGeezCustomTranslationEl
        [ngModel]="getCustomTranslationInterlinearValue(customGeezTranslation, geezVerse, $index)"
        (change)="saveCustomTranslationInterlinearMetadata(interlinearGeezCustomTranslationEl.value, geezVerse, $index, 'geez')">
        <option value=""></option>
        @for (geezesWord of eachGeezWord; track $index) {
        @for (geezWord of geezesWord; track $index) {
        <option [value]="castSegmentIntoMetadataIndex(geezWord)">({{geezWord.index}} - {{geezWord.word}} )
        </option>
        }
        }
      </select>
    </td>
    }
    <td><button type="button">×</button></td>
  </tr>
</table>

<hr />
}
}
}