<header [class.minimized]="minimized" class="tools">
  <form>
    <fieldset>
      <legend>Translation</legend>
      <select #bibleTranslation name="bible-translation" placeholder="Translation">
        <option></option>
        <optgroup label="Normal">
          <option value="bible-pt-aa.json">Almeida Atualizada</option>
          <option value="bible-pt-acf.json">Almeida Corrigida Fiel</option>
          <option value="bible-pt-kja.json">King James Atualizada</option>
          <option value="bible-pt-nvi.json">Nova Versão Internacional</option>
          <option value="bible-pt-tb.json">Tradução Brasileira</option>
          <option value="bible-pt-vc.json">Versão Católica</option>
        </optgroup>
        <optgroup label="Gringo">
          <option value="bible-la-vulgata.json">Vulgata</option>
          <option value="bible-en-kjv.json">King James version</option>
          <option value="bible-el-greek.json">Grego moderno</option>
          <option value="bible-es-rv.json">Reina Valera</option>
          <option value="bible-zh-cuv-s.json">中文联盟版简体</option>
          <option value="bible-zh-cuv.json">中國聯合版</option>
        </optgroup>
      </select>

      <button (click)="loadTranslation(bibleTranslation.value); bibleTranslation.value = ''" type="button">+</button>
    </fieldset>

    <fieldset>
      <legend>Change chapter</legend>

      <select name="selectedBook" placeholder="Book" [ngModel]="selectedBook.toLocaleLowerCase()">
        <optgroup label="Old Testament">
          <option value="gen">Genesis</option>
          <option value="exo">Exodus</option>
          <option value="lev">Leviticus</option>
          <option value="num">Numbers</option>
          <option value="deu">Deuteronomy</option>
          <option value="jos">Joshua</option>
          <option value="jui">Judges</option>
          <option value="rut">Ruth</option>
          <option value="1sm">1 Samuel</option>
          <option value="2sm">2 Samuel</option>
          <option value="1rs">1 Kings</option>
          <option value="2rs">2 Kings</option>
          <option value="1cr">1 Chronicles</option>
          <option value="2cr">2 Chronicles</option>
          <option value="1ed">Ezra</option>
          <option value="2ed">Nehemiah</option>
          <option value="1et">Esther</option>
          <option value="job">Job</option>
          <option value="sal">Psalms</option>
          <option value="pro">Proverbs</option>
          <option value="ecl">Ecclesiastes</option>
          <option value="can">Song of Solomon</option>
          <option value="isa">Isaiah</option>
          <option value="je1">Jeremiah</option>
          <option value="je2">Lamentations</option>
          <option value="eze">Ezekiel</option>
          <option value="da1">Daniel</option>
          <option value="ose">Hosea</option>
          <option value="joe">Joel</option>
          <option value="amo">Amos</option>
          <option value="oba">Obadiah</option>
          <option value="jon">Jonah</option>
          <option value="miq">Micah</option>
          <option value="nau">Nahum</option>
          <option value="hab">Habakkuk</option>
          <option value="sof">Zephaniah</option>
          <option value="age">Haggai</option>
          <option value="zac">Zechariah</option>
          <option value="mal">Malachi</option>
        </optgroup>
        <optgroup label="New Testament">
          <option value="mat">Matthew</option>
          <option value="mar">Mark</option>
          <option value="luc">Luke</option>
          <option value="joa">John</option>
          <option value="ato">Acts</option>
          <option value="rom">Romans</option>
          <option value="1co">1 Corinthians</option>
          <option value="2co">2 Corinthians</option>
          <option value="gal">Galatians</option>
          <option value="efe">Ephesians</option>
          <option value="fil">Philippians</option>
          <option value="col">Colossians</option>
          <option value="1ts">1 Thessalonians</option>
          <option value="2ts">2 Thessalonians</option>
          <option value="1tm">1 Timothy</option>
          <option value="2tm">2 Timothy</option>
          <option value="tit">Titus</option>
          <option value="flm">Philemon</option>
          <option value="heb">Hebrews</option>
          <option value="tia">James</option>
          <option value="1pe">1 Peter</option>
          <option value="2pe">2 Peter</option>
          <option value="1jo">1 John</option>
          <option value="2jo">2 John</option>
          <option value="3jo">3 John</option>
          <option value="jud">Jude</option>
          <option value="apo">Revelation</option>
        </optgroup>
      </select>

      <select name="selectedChapter" [(ngModel)]="selectedChapter">
        @for (chapter of getChapters(); track $index) {
        <option [value]="chapter - 1">{{ chapter }}</option>
        }
      </select>

      <button type="button" (click)="go()">Go</button>
      <button type="button" (click)="next()">Next</button>
    </fieldset>

    <fieldset>
      <legend>Patterns</legend>

      <button type="button" (click)="openDialogPatterns('hebraic')">Hebraic</button>
      <button type="button" (click)="openDialogPatterns('geez')">Ge'əz</button>
      <button type="button" (click)="openDialogPatterns('greek')">Greek</button>
    </fieldset>

    <fieldset>
      <legend>Lexical</legend>

      <button type="button" (click)="openDialogDictionary('hebraic')">Hebraic</button>
      <button type="button" (click)="openDialogDictionary('geez')">Ge'əz</button>
      <button type="button" (click)="openDialogDictionary('greek')">Greek</button>
    </fieldset>

    <div class="sidebuttons">
      <button (click)="minimized = !minimized" class="minimize" type="button">▲</button>
    </div>
  </form>
</header>

@if (showLegend) {
  <div class="legendBox">
    <table>
      <tr><th>Text</th><th>Meaning</th></tr>
      <tr><td>G</td><td>God name</td></tr>
      <tr><td>N</td><td>Character name</td></tr>
      <tr><td>K</td><td>Keyword</td></tr>
      <tr><td>A</td><td>Amount</td></tr>
    </table>
  </div>
}

<app-add-pattern-context-menu #addPatternMenuRef (optionSelected)="onAddPattern($event)"></app-add-pattern-context-menu>

@if (selectedHebraicBook && isOldBookGuard(currentBook)) {

@let hebraicVerses = selectedHebraicBook[currentChapter];
@for (hebraicVerse of hebraicVerses; track hebraicVerse.verse.start; let verseKey = $index) {
@let hebraic = hebraicVerse.text.split(' ');
@let eachHebraicWord = splitIntoMatrix(hebraicVerse.text, 'hebraic');
@let geezVerses = getCorrespondingGeezVerse(hebraicVerse);

<strong class="verse-title">{{bookMetadata[currentBook].normal}}, {{currentChapter + 1}}:{{hebraicVerse | verse}}</strong>
<table border="1">
  @for (chapterTranslation of chapterTranslations; track $index) {
  <tr>
    <th>translation <button type="button" (click)="removeTranslationByIndex($index)">×</button></th>
    <td [colSpan]="hebraic.length">{{chapterTranslation[verseKey] && chapterTranslation[verseKey].text}}</td>
  </tr>
  }
  <tr>
    <th rowspan="2">scripture</th>
    <td [colSpan]="hebraic.length" [appAddPatternContextMenuTrigger]="addPatternMenuRef" lang="hebraic">
      @for (sentence of eachHebraicWord; track $index) {
      <span>&nbsp;</span>
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word}}</span>
      }
      }
    </td>
  </tr>
  <tr [appAddPatternContextMenuTrigger]="addPatternMenuRef" lang="hebraic">
    @for (sentence of eachHebraicWord; track $index) {
    <td>
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word}}</span>
      }
    </td>
    }
  </tr>
  <tr>
    <th>transliteration</th>
    @for (sentence of eachHebraicWord; track $index) {
    <td>
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word | transliteration : 'hebraic'}}</span>
      }
    </td>
    }

  </tr>
  <tr>
    <th>God said</th>
    @for (word of hebraic; track $index; let wordIndex = $index) {
    <td>
      <input
        type="checkbox"
        #hebraicWordOfGodEl
        [name]="'isWordOfGod' + word + wordIndex"
        (change)="setAsWordOfGod(hebraicWordOfGodEl, verseKey, wordIndex, word, hebraicVerse, 'hebraic')"
        [checked]="getScriptureMetadataWordOfGod(verseKey, wordIndex, 'hebraic')"
      />
    </td>
    }
  </tr>

  <tr>
    <th>metadata</th>
    @for (word of eachHebraicWord; track $index; let wordIndex = $index) {
    <td>
      @for (segment of word; track $index; let segmentIndex = $index) {
      <select
        #hebraicMetadataEl
        [name]="'fieldHebraicMetadata' + segment.index"
        [value]="getScriptureMetadataDefinedKind(verseKey, wordIndex, segmentIndex, 'hebraic')"
        (change)="updateScripturesMetadata(hebraicMetadataEl, verseKey, hebraicVerse, wordIndex, segmentIndex, hebraic[wordIndex], segment, 'hebraic')"
        (focus)="showLegend = true"
        (blur)="showLegend = false"
      >
        <option value="nothing">-</option>
        <option value="godname">G</option>
        <option value="character">N</option>
        <option value="keyword">K</option>
        <option value="amount">A</option>
      </select>
      }
    </td>
    }
  </tr>

  <tr>
    <th rowspan="2">interlinear</th>
    @for (sentence of eachHebraicWord; track $index) {
    <td>
      @for (word of sentence; track $index) {
      @let lexical = word.word | lexical : 'hebraic' : pipeUpdaterController;
      <input type="text" [name]="'fieldHebraic' + word.index" [placeholder]="word.word" #fieldHebraicLexical
        [style.width.px]="calcFieldSize(word.word, lexical)" (input)="updateLexical(fieldHebraicLexical, word.word, 'hebraic')"
        [value]="lexical" />
      }
    </td>
    }
  </tr>
  <tr>
    <td [colSpan]="hebraic.length">
      @for (sentence of eachHebraicWord; track $index) {
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word | literalizate : hebraicPatterns : 'hebraic' :
        pipeUpdaterController}}&nbsp;</span>
      }
      }
    </td>
  </tr>
  <tr>
    <th>gematrics</th>
    @for (word of hebraic; track $index) {
    <td>{{word | gematrics}}</td>
    }
  </tr>
  <tr>
    <th rowspan="2">hypothetical paleo</th>

    @for (sentence of eachHebraicWord; track $index) {
    <td>
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word | paleo}}</span>
      }
    </td>
    }
  </tr>
  <tr>
    <td [colSpan]="hebraic.length">
      @for (sentence of eachHebraicWord; track $index) {
      <span>&nbsp;</span>
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word | paleo}}</span>
      }
      }
    </td>
  </tr>
</table>

<div class="buttonGroup">
  <button
    type="button"
    (click)="derivateTranslationToCustom(hebraicVerse, 'hebraic')"
  > ▼ Translation </button>
  <button
    type="button"
    [attr.disabled]="customHebraicTranslationEl.value === '' ? true : null"
    (click)="derivateInterlinearToCustom(hebraicVerse, 'hebraic')"
  > ▼ Interlinear </button>
  <button
    type="button"
    (click)="derivateAllToCustom(hebraicVerse, 'hebraic')"
  > ▼ All </button>
</div>

<table border="1">
  @let splitedCustomTranslation = splitTextBySpacesAndPunctuation(customHebraicTranslationEl.value);
  <tr>
    <th rowspan="3">custom</th>
    <td [colSpan]="splitedCustomTranslation.length">
      <input type="text" #customHebraicTranslationEl class="customTranslation" name="customHebraicTranslation"
        placeholder="custom translation"
        (input)="updateCustomTranslation(customHebraicTranslationEl, hebraicVerse, 'hebraic')"
        [value]="getCustomTranslationVerse(customHebraicTranslation, hebraicVerse)?.text" />
    </td>
  </tr>

  <tr>
    <td [colSpan]="splitedCustomTranslation.length">
      <span>&nbsp;</span>
      @for (sentence of splitedCustomTranslation; track $index) {
      <span [class]="'prisma'+getCustomTranslationFromHebraicColor(hebraicVerse, $index)">{{sentence}}</span>
      }
    </td>
  </tr>

  <tr>
    <td [colSpan]="splitedCustomTranslation.length">
      <span>&nbsp;</span>
      @for (sentence of splitedCustomTranslation; track $index) {
      <span [class]="'sacred'+getCustomTranslationSacredRule(hebraicVerse, $index, 'hebraic')">{{sentence}}</span>
      }
    </td>
  </tr>

  <tr>
    <th>interlinear</th>
    @for (sentence of splitedCustomTranslation; track $index) {
    <td>
      <span>&nbsp;</span>
      {{sentence}}
    </td>
    }
  </tr>

  <tr>
    <th>scriptures</th>
    @for (sentence of splitedCustomTranslation; track $index) {
    <td>
      <select
        [name]="'selectInterlinearHebraicCustomTranslationEl' + $index"
        #interlinearHebraicCustomTranslationEl
        [ngModel]="customHebraicTranslation[currentBook][currentChapter]?.[hebraicVerse.verse.index]?.metadata?.[$index] || ''"
        (change)="saveCustomTranslationInterlinearMetadata(interlinearHebraicCustomTranslationEl.value, hebraicVerse, $index, 'hebraic')"
        >
        <option value=""></option>
        @for (hebraicsWord of eachHebraicWord; track $index) {
        @for (hebraicWord of hebraicsWord; track $index) {
        <option [value]="hebraicWord.index+'-'+hebraicWord.word">({{hebraicWord.index}} - {{hebraicWord.word}} )
        </option>
        }
        }
      </select>
    </td>
    }
  </tr>
</table>

@for (geezVerse of geezVerses; track geezVerse.verse.start; let geezVerseKey = $index) {
@let geez = geezVerse.text.split(' ');
@let eachGeezMatriz = splitIntoMatrix(geezVerse.text, 'geez');

<table border="1">
  <tr>
    <th rowspan="2">ge'əz</th>
    <td [colSpan]="geez.length" [appAddPatternContextMenuTrigger]="addPatternMenuRef" lang="geez">
      @for (sentence of eachGeezMatriz; track $index) {
      @for (word of sentence; track word.index) {
      <span [class]="'prisma'+getGeezColor(geezVerse, word.index)">{{word.word}}</span>
      }
      }
    </td>
  </tr>
  <tr [appAddPatternContextMenuTrigger]="addPatternMenuRef" lang="geez">
    @for (sentence of eachGeezMatriz; track $index) {
    <td>
      @for (word of sentence; track word.index) {
      <span [class]="'prisma'+getGeezColor(geezVerse, word.index)">{{word.word}}</span>
      }
    </td>
    }
  </tr>
  <tr>
    <th>transliteration</th>
    @for (sentence of eachGeezMatriz; track $index) {
    <td>
      @for (word of sentence; track word.index) {
      <span [class]="'prisma'+getGeezColor(geezVerse, word.index)">{{word.word | transliteration : 'geez'}}</span>
      }
    </td>
    }
  </tr>
  <tr>
    <th rowspan="2">interlinear</th>
    @for (sentence of eachGeezMatriz; track $index) {
    <td>
      @for (word of sentence; track $index) {
      @let literal = word.word | lexical : 'geez' : pipeUpdaterController;
      <input type="text" [name]="'fieldGeez' + word.index" [placeholder]="word.word" #field
        [style.width.px]="calcFieldSize(word.word, literal)" (input)="updateLexical(field, word.word, 'geez')"
        [value]="literal" />
      }
    </td>
    }
  </tr>
  <tr>
    <td [colSpan]="geez.length">
      @for (sentence of eachGeezMatriz; track $index) {
      @for (word of sentence; track word.index) {
      <span [class]="'prisma'+getGeezColor(geezVerse, word.index)">{{word.word | literalizate : geezPatterns : 'geez' :
        pipeUpdaterController}}&nbsp;</span>
      }
      }
    </td>
  </tr>
  <tr>
    <th>scriptures</th>
    @for (sentence of eachGeezMatriz; track $index) {
    <td>
      @for (geezWord of sentence; track $index) {
      <select #interlinear
        (change)="onSelectInterlinearGeezToHebraic(hebraicVerse, geezVerse, geezWord.index, geezWord.word, interlinear.value)"
        [ngModel]="getGeezInterlinear(geezVerse.verse.start, geezWord.index)" [name]="$index + '-' + geezWord.word">
        <option value=""></option>
        @for (hebraicsWord of eachHebraicWord; track $index) {
        @for (hebraicWord of hebraicsWord; track $index) {
        <option [value]="hebraicWord.index+'-'+hebraicWord.word">({{hebraicWord.index}} - {{hebraicWord.word}} )
        </option>
        }
        }
      </select>
      }
    </td>
    }
  </tr>
</table>

<table border="1">
  @let splitedCustomTranslation = splitTextBySpacesAndPunctuation(customGeezTranslationEl.value);
  <tr>
    <th>custom</th>
    <td [colSpan]="splitedCustomTranslation.length">
      <input type="text" #customGeezTranslationEl class="customTranslation" name="customGeezTranslation"
        placeholder="custom translation" (input)="updateCustomTranslation(customGeezTranslationEl, geezVerse, 'geez')"
        [value]="getCustomTranslationVerse(customGeezTranslation, geezVerse)?.text" />
    </td>
  </tr>

  <tr>
    <th>interlinear</th>
    @for (sentence of splitedCustomTranslation; track $index) {
    <td>
      {{sentence}}
    </td>
    }
  </tr>

  <tr>
    <th>scriptures</th>
    @for (sentence of splitedCustomTranslation; track $index) {
    <td>
      <select #interlinearHebraicCustomTranslation>
        <option value=""></option>
        @for (geezesWord of eachGeezMatriz; track $index) {
        @for (geezWord of geezesWord; track $index) {
        <option [value]="geezWord.index+'-'+geezWord.word">({{geezWord.index}} - {{geezWord.word}} )
        </option>
        }
        }
      </select>
    </td>
    }
  </tr>
</table>
}
}
}