a {
  cursor: pointer;
}

th {
  min-width: 135px;
}

.literalInput {
  min-width: 20px;
}

.textCenter {
  text-align: center;
}

.prisma-1 {
  color: rgb(211, 1, 1);
}

.prisma-2 {
  color: rgb(236, 106, 0);
}

.prisma-3 {
  color: rgb(212, 209, 3);
}

.prisma-4 {
  color: rgb(77, 187, 5);
}

.prisma-5 {
  color: rgb(1, 146, 165);
}

.prisma-6 {
  color: rgb(59, 0, 168);
}

.prisma-7 {
  color: rgb(170, 2, 148);
}
