.buttonGroup {
  display: flex;
  justify-content: center;
}

.buttonGroup button {
  margin: .5rem;
}

.variationName {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.customTranslation {
  width: calc(100% - 7px);
}

.wordSpan {
  max-width: 2rem;
}
