<h3>{{interlinear ? 'Interlinear ' : ''}}Custom Translation</h3>

@let verseIndex = typeof sourceVerse.verse === 'number' ? sourceVerse.verse : sourceVerse.verse.index;
@let chapter = current.chapter - 1;
@let verse = customTranslation.chapters[chapter]?.verses?.[verseIndex];
@let chapterVariations = verse?.variations;
@let splittedCustomTranslation = splitCustomTranslationWithVariations(customTranslation, chapter, verseIndex, pipeUpdaterController) || [];

<div class="buttonGroup">
  <button type="button" (click)="derivateAllToCustom()"> ▼ All </button>
</div>
<div [class.minified]="minified" class="tableMinifiable">
  <div>
    <table border="1" frame="hsides" role="presentation">
      <tr>
        <th rowspan="3">custom</th>
        <td [colSpan]="splittedCustomTranslation.original.length">
          <input type="text" #customTranslationEl class="customTranslation" name="customTranslation"
            placeholder="custom translation"
            (input)="updateCustomTranslation(customTranslationEl)"
            [value]="getCustomTranslationVerse()?.text" />
        </td>
        <td rowspan="3"><button (click)="cleanCustomTranslation(customTranslationEl)" type="button">×</button></td>
      </tr>
  
      <tr>
        <td [colSpan]="splittedCustomTranslation.original.length">
          @for (sentence of splittedCustomTranslation.original; track $index) {
          @let color = getCustomTranslationColor($index);
          <span [attr.data-punctuation]="isPunctuation(color, sentence.fragment)" [class]="'prisma'+color">{{sentence.fragment}}</span>
            @if (sentence.hasTrailingSpace && sentence.fragment) {
              <span class="prisma-gap">&nbsp;</span>
            }
          }
        </td>
      </tr>
  
      <tr>
        <td [colSpan]="splittedCustomTranslation.original.length">
          @for (sentence of splittedCustomTranslation.original; track $index) {
          <span [class]="isCustomTranslationWordOfGod($index) ? 'godsaid' : ''">{{sentence.fragment}}</span>
            @if (sentence.hasTrailingSpace && sentence.fragment) {
              <span class="prisma-gap">&nbsp;</span>
            }
          }
        </td>
      </tr>
  
      <tr>
        <th>word span</th>
        @for (sentence of splittedCustomTranslation.original; track $index) {
        <td>
          <input
            type="number" #wordSpanEl class="wordSpan configField" name="wordSpan" placeholder="size"
            [value]="verse?.metadata?.[$index]?.size"
            (change)="onChangeWordSpan(verse, $index, wordSpanEl)"
          />
        </td>
        }
      </tr>
  
      <tr>
        <th>interlinear</th>
        @for (sentence of splittedCustomTranslation.original; track $index) {
        <td>
          {{sentence.fragment}}
        </td>
        }
        <td>
        </td>
      </tr>

      <tr>
        <th>God said</th>
        @for (sentence of splittedCustomTranslation.original; track $index) {
          @let wordOfGod = getScriptureMetadataWordOfGodOverriding($index);
          <td>
            <input
              type="checkbox" #wordOfGodEl [name]="'isWordOfGod' + $index"
              (change)="setAsWordOfGodOverriding(wordOfGodEl.checked, $index)"
              [checked]="wordOfGod.checked"
              [attr.disabled]="wordOfGod.readonly ? true : null"
            />
          </td>
        }
        <td>
        </td>
      </tr>
  
      <tr>
        <th>scriptures</th>
        @for (sentence of splittedCustomTranslation.original; track $index) {
        <td>
          <select
            #interlinearCustomTranslationEl
            [name]="'selectInterlinearCustomTranslationEl' + $index"
            [ngModel]="getCustomTranslationInterlinearValue($index)"
            (change)="saveCustomTranslationInterlinearMetadata(interlinearCustomTranslationEl.value, $index)">
            <option value=""></option>
            @for (wordSegments of eachWord; track $index) {
              @for (segment of wordSegments; track $index) {
                <option [value]="castSegmentIntoMetadataIndex(segment)">({{segment.index}} - {{segment.word}} )</option>
              }
            }
          </select>
        </td>
        }
  
        @if (!splittedCustomTranslation.original.length) {
          <td></td>
        }
        <td><button type="button" (click)="cleanInterlinear()">×</button></td>
      </tr>
  
      @if (chapterVariations) {
        @for (variation of getVariations(); track $index) {
          <tr>
            <th rowspan="3" class="variationName" [title]="variation.name">Variation: {{variation.name}}</th>
  
            @for (sentence of splittedCustomTranslation.variations[variation.id]; track $index) {
              <td>
                <input type="number" #variationSizeEl class="wordSpan configField" name="wordSpanOverride{{variation.id}}{{$index}}" placeholder="size override" title="size override"
                  [ngModel]="getVariationSize(chapterVariations, variation.id, $index)"
                  (input)="updateVariationSize(chapterVariations, variation.id, $index, variationSizeEl.value)">
              </td>
            }

            <td rowspan="3">
              <button (click)="cleanCustomTranslationVariation(variation, chapterVariations, splittedCustomTranslation.variations[variation.id])" type="button">×</button>
            </td>
          </tr>
  
          <tr>
            @for (sentence of splittedCustomTranslation.variations[variation.id]; track $index) {
            <td>
              @let dataListId = getDataListId(variation, $index);
              @let variarion = getVariation(chapterVariations, variation.id, $index)?.value || '';
              <input
                type="text"
                #variationValueEl
                placeholder="empty"
                class="configField"
                [attr.list]="dataListId"
                name="variationValue{{dataListId}}"
                [ngModel]="variarion"
                (input)="updateVariationValue(chapterVariations, variation.id, $index, variationValueEl.value)"
                [style.width.px]="calcFieldSize({ word: sentence.fragment, index: 0 }, variationValueEl.value) + 20">
  
                <datalist [id]="dataListId">
                  @for (suggestion of getVariationDataListOptions(getCustomTranslationInterlinearValue($index), variation.id); track $index) {
                    @if (suggestion !== variationValueEl.value) {
                      <option [value]="suggestion"></option>
                    }
                  }
                </datalist>
            </td>
            }
  
          </tr>

          <tr>
            <td [colSpan]="splittedCustomTranslation.variations[variation.id].length">
              @for (sentence of splittedCustomTranslation.variations[variation.id]; track $index) {
                @let hasVariation = getVariation(chapterVariations, variation.id, $index);
                @if (hasVariation && (hasVariation.value.length || hasVariation.value === '' && hasVariation.size === 0)) {
                  @if (hasVariation.value.trim().length) {
                    @let color = getCustomTranslationColor($index);
                    <span [attr.data-punctuation]="isPunctuation(color, hasVariation.value)" [class]="'prisma'+color">{{hasVariation.value}}</span>
                  }

                  @if (sentence.hasTrailingSpace) {
                    <span class="prisma-gap">&nbsp;</span>
                  }
                } @else {
                  @let color = getCustomTranslationColor($index);
                  <span [attr.data-punctuation]="isPunctuation(color, sentence.fragment)" [class]="'prisma'+color">{{sentence.fragment}}</span>
  
                  @if (sentence.hasTrailingSpace && sentence.fragment) {
                    <span class="prisma-gap">&nbsp;</span>
                  }
                }
              }
            </td>
          </tr>
        }
      }
    </table>
  </div>
  <button (click)="minified = !minified" type="button"></button>
</div>