<h3>{{interlinear ? 'Interlinear ' : ''}}Custom Translation</h3>

@let indexes = getTranslationIndexes();
@let verse = customTranslation.chapters?.[indexes.chapterIndex]?.verses?.[indexes.verseIndex];
@let chapterVariations = verse?.variations;
@let splittedCustomTranslation = splitCustomTranslationWithVariations(customTranslation, indexes, pipeUpdaterController) || [];

<div class="buttonGroup">
  <button type="button" (click)="derivateAllToCustom()"> ▼ All </button>
</div>
<div [class.minified]="minified" class="tableMinifiable">
  <div>
    <table border="1" frame="hsides" role="presentation">
      <tr>
        <th rowspan="3">custom</th>
        <td [colSpan]="splittedCustomTranslation.original.length">
          <input type="text" #customTranslationEl class="customTranslation" name="customTranslation"
            placeholder="custom translation"
            (input)="updateCustomTranslation(customTranslationEl)"
            [value]="getCustomTranslationVerse()?.text" />
        </td>
        <td rowspan="3"><button (click)="cleanCustomTranslation(customTranslationEl)" type="button">×</button></td>
      </tr>
  
      <tr>
        <td [colSpan]="splittedCustomTranslation.original.length">
          @for (word of splittedCustomTranslation.original; track $index) {
          @let color = getCustomTranslationColor($index);
          @if (word.segment.length) {
            <span [attr.data-punctuation]="isPunctuation(color, word.segment)" [class]="'prisma'+color">{{word.segment}}</span>
              @if (word.hasTrailingSpace && word.segment) {&nbsp;}
            }
          }
        </td>
      </tr>
  
      <tr>
        <td [colSpan]="splittedCustomTranslation.original.length">
          @for (word of splittedCustomTranslation.original; track $index) {
          <span [class]="isCustomTranslationWordOfGod($index) ? 'godsaid' : ''">{{word.segment}}</span>
            @if (word.hasTrailingSpace && word.segment) {&nbsp;}
          }
        </td>
      </tr>
  
      <tr>
        <th>word span</th>
        @for (sentence of splittedCustomTranslation.original; track $index) {
        <td>
          <input
            type="number" #wordSpanEl class="wordSpan configField" name="wordSpan" placeholder="size"
            [value]="verse?.metadata?.[$index]?.size"
            (change)="onChangeWordSpan(verse, $index, wordSpanEl)"
          />
        </td>
        }
      </tr>
  
      <tr>
        <th>interlinear</th>
        @for (word of splittedCustomTranslation.original; track $index) {
          <td>
            {{word.segment}}
          </td>
        }
        <td>
        </td>
      </tr>

      <tr>
        <th>God said</th>
        @for (sentence of splittedCustomTranslation.original; track $index) {
          @let wordOfGod = getScriptureMetadataWordOfGodOverriding($index);
          <td>
            <input
              type="checkbox" #wordOfGodEl [name]="'isWordOfGod' + $index"
              (change)="setAsWordOfGodOverriding(wordOfGodEl.checked, $index)"
              [checked]="wordOfGod.checked"
              [attr.disabled]="wordOfGod.readonly ? true : null"
            />
          </td>
        }
        <td>
        </td>
      </tr>
  
      <tr>
        <th>scriptures</th>
        @for (sentence of splittedCustomTranslation.original; track $index; let wordIndex = $index) {
          <td>
            <select
              #interlinearCustomTranslationEl
              [name]="'selectInterlinearCustomTranslationEl' + wordIndex"
              [ngModel]="getCustomTranslationInterlinearValue(wordIndex)"
              (change)="onChangeCustomTranslationInterlinearMetadata(interlinearCustomTranslationEl.value, wordIndex, indexes)">
              <option value=""></option>
              @for (word of wordMatrix; track $index) {
                @for (segment of word.segments; track segment.index) {
                  <option [value]="castSegmentIntoMetadataIndex(segment)">({{segment.index}} - {{segment.word}} )</option>
                }
              }
            </select>
          </td>
        }
  
        @if (!splittedCustomTranslation.original.length) {
          <td></td>
        }
        <td><button type="button" (click)="cleanInterlinear()">×</button></td>
      </tr>
  
      @if (chapterVariations) {
        @for (variation of getVariations(); track $index) {
 
          <tr>
            <th rowspan="2" class="variationName" [title]="variation.name">Variation: {{variation.name}}</th>
            @for (word of splittedCustomTranslation.variations[variation.id]; track $index) {
              <td>
                @let dataListId = getDataListId(variation, $index);
                @let variarion = getVariation(chapterVariations, variation.id, $index)?.value || '';
                <input
                  type="text"
                  #variationValueEl
                  placeholder="empty"
                  class="configField"
                  [attr.list]="dataListId"
                  name="variationValue{{dataListId}}"
                  [ngModel]="variarion"
                  (input)="updateVariationValue(chapterVariations, variation.id, $index, variationValueEl.value)"
                  [style.width.px]="calcFieldSize({ word: word.segment, index: 0 }, variationValueEl.value) + 20">
    
                  <datalist [id]="dataListId">
                    @for (suggestion of getVariationDataListOptions(getCustomTranslationInterlinearValue($index), variation.id); track $index) {
                      @if (suggestion !== variationValueEl.value) {
                        <option [value]="suggestion"></option>
                      }
                    }
                  </datalist>
              </td>
            }

            <td rowspan="2">
              <button (click)="cleanCustomTranslationVariation(variation, chapterVariations, splittedCustomTranslation.variations[variation.id])" type="button">×</button>
            </td>
          </tr>

          <tr>
            <td [colSpan]="splittedCustomTranslation.variations[variation.id].length">
              @for (word of splittedCustomTranslation.variations[variation.id]; track $index) {
                @let hasVariation = getVariation(chapterVariations, variation.id, $index);
                @if (hasVariation && hasVariation.value.length) {
                  @if (hasVariation.value.trim().length) {
                    @let color = getCustomTranslationColor($index);
                    <span [attr.data-punctuation]="isPunctuation(color, hasVariation.value)" [class]="'prisma'+color">{{hasVariation.value}}</span>
                  }

                  @if (word.hasTrailingSpace) {&nbsp;}
                } @else if (word.segment.length) {
                  @let color = getCustomTranslationColor($index);
                  <span [attr.data-punctuation]="isPunctuation(color, word.segment)" [class]="'prisma'+color">{{word.segment}}</span>
  
                  @if (word.hasTrailingSpace && word.segment) {&nbsp;}
                }
              }
            </td>
          </tr>
        }
      }
    </table>
  </div>
  <button (click)="minified = !minified" type="button"></button>
</div>