<form>

  @if (project && collections.length) {
    <table border="1" frame="hsides" role="presentation">
      <tr>
        <th>Collection Name</th>
        <th></th>
      </tr>
  
      @for (collection of collections; track $index) {
        <tr>
          <td [title]="collection.folder">{{ collection.name }}</td>
          <td><button type="button" (click)="deleteCollection(project, collection.folder)">×</button></td>
        </tr>
      }
    </table>
  }

  <fieldset>
    <legend>Project Artifact Collections</legend>

    <div>
      <label for="projectCreateArtifactCollections">Collection name</label>
      <input
        #artifactCollectionName
        name="collectionName"
        type="text"
        id="projectCreateArtifactCollections"
        placeholder="Collection name"
      />
    </div>

    <div>
      <label>Folder name</label>
      <input
        type="text"
        name="folderName"
        readonly
        placeholder="Folder name"
        [ngModel]="derivateFolderName(artifactCollectionName.value)"
      />
    </div>

    <div>
      <label for="projectCreateArtifactCollectionsDescription">Collection description</label>
      <textarea
        #collectionDescription
        id="projectCreateArtifactCollectionsDescription"
        name="collectionDescription"
        placeholder="Collection description"
      ></textarea>
    </div>

    <button type="button" (click)="createCollection(artifactCollectionName, collectionDescription)">Create</button>
  </fieldset>
</form>