<header [class.minimized]="minimized" class="tools">
  <img class="logo" src="script.png" />
  <form>
    <fieldset>
      <legend>Translation</legend>
      <select #bibleTranslation name="bibleTranslation" placeholder="Translation">
        <option></option>
        <optgroup label="Normal">
          <option value="bible-pt-aa.json">Almeida Atualizada</option>
          <option value="bible-pt-acf.json">Almeida Corrigida Fiel</option>
          <option value="bible-pt-kja.json">King James Atualizada</option>
          <option value="bible-pt-nvi.json">Nova Versão Internacional</option>
          <option value="bible-pt-tb.json">Tradução Brasileira</option>
          <option value="bible-pt-vc.json">Versão Católica</option>
        </optgroup>
        <optgroup label="Gringo">
          <option value="bible-la-vulgata.json">Vulgata</option>
          <option value="bible-en-kjv.json">King James version</option>
          <option value="bible-el-greek.json">Grego moderno</option>
          <option value="bible-es-rv.json">Reina Valera</option>
          <option value="bible-zh-cuv-s.json">中文联盟版简体</option>
          <option value="bible-zh-cuv.json">中國聯合版</option>
        </optgroup>
      </select>

      <button (click)="loadTranslation(bibleTranslation.value); bibleTranslation.value = ''" type="button">+</button>
    </fieldset>

    <fieldset>
      <legend>Change chapter</legend>

      <select name="selectedBook" placeholder="Book" [ngModel]="formSelectedBook.toLocaleLowerCase()">
        <optgroup label="Old Testament">
          <option value="gen">Genesis</option>
          <option value="exo">Exodus</option>
          <option value="lev">Leviticus</option>
          <option value="num">Numbers</option>
          <option value="deu">Deuteronomy</option>
          <option value="jos">Joshua</option>
          <option value="jui">Judges</option>
          <option value="rut">Ruth</option>
          <option value="1sm">1 Samuel</option>
          <option value="2sm">2 Samuel</option>
          <option value="1rs">1 Kings</option>
          <option value="2rs">2 Kings</option>
          <option value="1cr">1 Chronicles</option>
          <option value="2cr">2 Chronicles</option>
          <option value="1ed">Ezra</option>
          <option value="2ed">Nehemiah</option>
          <option value="1et">Esther</option>
          <option value="job">Job</option>
          <option value="sal">Psalms</option>
          <option value="pro">Proverbs</option>
          <option value="ecl">Ecclesiastes</option>
          <option value="can">Song of Solomon</option>
          <option value="isa">Isaiah</option>
          <option value="je1">Jeremiah</option>
          <option value="je2">Lamentations</option>
          <option value="eze">Ezekiel</option>
          <option value="da1">Daniel</option>
          <option value="ose">Hosea</option>
          <option value="joe">Joel</option>
          <option value="amo">Amos</option>
          <option value="oba">Obadiah</option>
          <option value="jon">Jonah</option>
          <option value="miq">Micah</option>
          <option value="nau">Nahum</option>
          <option value="hab">Habakkuk</option>
          <option value="sof">Zephaniah</option>
          <option value="age">Haggai</option>
          <option value="zac">Zechariah</option>
          <option value="mal">Malachi</option>
        </optgroup>
        <optgroup label="New Testament">
          <option value="mat">Matthew</option>
          <option value="mar">Mark</option>
          <option value="luc">Luke</option>
          <option value="joa">John</option>
          <option value="ato">Acts</option>
          <option value="rom">Romans</option>
          <option value="1co">1 Corinthians</option>
          <option value="2co">2 Corinthians</option>
          <option value="gal">Galatians</option>
          <option value="efe">Ephesians</option>
          <option value="fil">Philippians</option>
          <option value="col">Colossians</option>
          <option value="1ts">1 Thessalonians</option>
          <option value="2ts">2 Thessalonians</option>
          <option value="1tm">1 Timothy</option>
          <option value="2tm">2 Timothy</option>
          <option value="tit">Titus</option>
          <option value="flm">Philemon</option>
          <option value="heb">Hebrews</option>
          <option value="tia">James</option>
          <option value="1pe">1 Peter</option>
          <option value="2pe">2 Peter</option>
          <option value="1jo">1 John</option>
          <option value="2jo">2 John</option>
          <option value="3jo">3 John</option>
          <option value="jud">Jude</option>
          <option value="apo">Apocalypse</option>
        </optgroup>
      </select>

      <select name="selectedChapter" [(ngModel)]="formSelectedChapter">
        @for (chapter of getChapters(); track $index) {
        <option [value]="chapter - 1">{{ chapter }}</option>
        }
      </select>

      <button type="button" (click)="go()">Go</button>
      <button type="button" (click)="back()">Back</button>
      <button type="button" (click)="next()">Next</button>
    </fieldset>

    <fieldset>
      <legend>Patterns</legend>

      <button type="button" (click)="openDialogPatterns('hebraic')">Hebraic</button>
      <button type="button" (click)="openDialogPatterns('geez')">Ge'əz</button>
      <button type="button" (click)="openDialogPatterns('greek')">Greek</button>
    </fieldset>

    <fieldset>
      <legend>Lexical</legend>

      <button type="button" (click)="openDialogDictionary('hebrew')">Hebraic</button>
      <button type="button" (click)="openDialogDictionary('geez')">Ge'əz</button>
      <button type="button" (click)="openDialogDictionary('greek')">Greek</button>
    </fieldset>

    <fieldset>
      <legend>Dictionary</legend>

      <button type="button" (click)="openExternalDictionary('hebrew')">Hebraic</button>
      <button type="button" (click)="openExternalDictionary('geez')">Ge'əz</button>
      <button type="button" (click)="openExternalDictionary('greek')">Greek</button>
    </fieldset>

    <div class="sidebuttons">
      <button (click)="minimized = !minimized" class="minimize" type="button">▲</button>
    </div>
  </form>
</header>

@if (showLegend) {
<div class="legendBox">
  <table>
    <tr>
      <th>Text</th>
      <th>Meaning</th>
    </tr>
    <tr>
      <td>G</td>
      <td>God name</td>
    </tr>
    <tr>
      <td>C</td>
      <td>Character name</td>
    </tr>
    <tr>
      <td>K</td>
      <td>Keyword</td>
    </tr>
    <tr>
      <td>A</td>
      <td>Amount</td>
    </tr>
  </table>
</div>
}

<app-add-pattern-context-menu #addPatternMenuRef (optionSelected)="onAddPattern($event)"></app-add-pattern-context-menu>

@for (data of project.data; track $index) {
  @if (current) {
    <app-scripture-metadata-component
      [current]="current"
      [data]="data"
      [pipeUpdaterController]="pipeUpdaterController"
      sourceBook
      sourceVerse
      chapterTranslations
      [addPatternMenuRef]="addPatternMenuRef"
      (showLegend)="showLegend = $event"
    ></app-scripture-metadata-component>
    
    @if (project.structure.tools.translationInterlinear) {
      <app-interlinear-translation-component
        [current]="current"
        [data]="data"
        [pipeUpdaterController]="pipeUpdaterController"
        parsedBook
        sourceVerse
        translation
        [addPatternMenuRef]="addPatternMenuRef"
      ></app-interlinear-translation-component>
    }
  }
}
