@let targetMetadataDetails = getProjectTargetsMetadataDetails();
@let customTranslationsDetails = getProjectTranslationsDetails();

<header [class.minimized]="minimized" class="tools">
  <div class="buttonGroup">
    <img class="logo" src="script.png" />
    <button class="save" type="button" (click)="save()"></button>
  </div>
  <form>
    <app-translation-viewer-manager
      (addViewingTranslation)="onAddViewingTranslation($event)"></app-translation-viewer-manager>

    <fieldset>
      <legend>Change chapter</legend>

      <div>
        <select name="selectedBook" placeholder="Book" [(ngModel)]="formSelectedBook">
          @for (book of listBookNames(); track $index) {
          <option [value]="book.key">{{ book.name }}</option>
          }
        </select>
  
        <select name="selectedChapter" [(ngModel)]="formSelectedChapter">
          @for (chapter of getChapters(); track $index) {
          <option [value]="chapter - 1">{{ chapter }}</option>
          }
        </select>
      </div>

      <div>
        <button type="button" (click)="go()">Go</button>
        <button type="button" [attr.disabled]="formSelectedChapter === 0 ? 'disabled': null"
          (click)="back()">Back</button>
        <button type="button" [attr.disabled]="formSelectedChapter === getChaptersLength() ? 'disabled': null"
          (click)="next()">Next</button>
      </div>
    </fieldset>

    <fieldset>
      <legend>Import configs</legend>
      <button type="button" (click)="openImportFromBookDialog(targetMetadataDetails)">Import from book</button>
    </fieldset>

    <fieldset>
      <legend>Patterns</legend>

      @for (detail of targetMetadataDetails; track $index) {
      <button type="button" (click)="openPatternsDialog(detail)">{{codexMetadataRecord[detail.source].name}}</button>
      }
    </fieldset>

    <fieldset>
      <legend>Lexical</legend>

      @for (detail of targetMetadataDetails; track $index) {
      <button type="button"
        (click)="openLexicalDictionaryDialog(detail)">{{codexMetadataRecord[detail.source].name}}</button>
      }
    </fieldset>

    @if (customTranslationsDetails) {
      <fieldset>
        <legend>Translation Variations</legend>
  
        @for (detail of customTranslationsDetails; track $index) {
        <button type="button"
          (click)="openTranslationVariationsConfigDialog(detail)">{{codexMetadataRecord[detail.source].name}}</button>
        }
      </fieldset>
    }

    <div class="sidebuttons">
      <button (click)="minimized = !minimized" class="minimize" type="button">▲</button>
    </div>
  </form>
</header>

<app-add-pattern-context-menu #addPatternMenuRef></app-add-pattern-context-menu>

@for (structure of project.structure; track $index) {
@let sourceCodex = codexMetadataRecord[structure.metadataEditor.source];
@let selectedSourceBook = sourceBookRecord[structure.metadataEditor.source];
@let bookMetadata = projectData[structure.metadataEditor.target];
@let bookCustomTranslation = structure.metadataEditor.customTranslationEditor ?
projectData[structure.metadataEditor.customTranslationEditor] : undefined;

@if (current && selectedSourceBook) {
@for (verse of selectedSourceBook.chapters[current.chapter]; track $index) {
@let parsedBook = parseBook(bookMetadata, languageMetadataRecord[sourceCodex.language], pipeUpdaterController);

<strong class="verseTitle">
  {{sourceCodex.data[current.book].name}}, {{current.chapter + 1}}:{{verse | verseNumber}}
</strong>

<app-scripture-metadata-component [current]="current" [sourceLanguage]="sourceCodex.language"
  [bookTarget]="bookMetadata" [parsedBook]="parsedBook" [sourceBook]="selectedSourceBook"
  [sourceVerse]="verse" [verseIndex]="( typeof verse.verse === 'number' ? $index : verse.verse.index )"
  [customTranslation]="bookCustomTranslation" [addPatternMenuRef]="addPatternMenuRef"
  [viewingTranslationBookRecord]="translationBookRecord" (removeTranslation)="onRemoveTranslation($event)"
  [pipeUpdaterController]="pipeUpdaterController"></app-scripture-metadata-component>

@for (item of structure.interlinearEditor; track $index) {
@let bookInterlinearSource = sourceBookRecord[item.source];
@let bookInterlinearTarget = projectData[item.target];
@let bookCustomTranslationTarget = item.customTranslationEditor ? projectData[item.customTranslationEditor] : undefined;

@if (bookInterlinearSource) {
@let verseInterlinearSource = bookInterlinearSource.chapters[current.chapter][verse.verse.index];
@let langInterlinearSource = codexMetadataRecord[item.source].language;
@let parsedInterlinearBook = parseBook(bookInterlinearTarget, languageMetadataRecord[langInterlinearSource],
pipeUpdaterController);

<app-interlinear-component [current]="current" [sourceLanguage]="langInterlinearSource"
  [pipeUpdaterController]="pipeUpdaterController" [parsedOriginBook]="parsedBook" [originVerse]="verse"
  [sourceBook]="bookInterlinearSource" [sourceVerse]="verseInterlinearSource" [parsedBook]="parsedInterlinearBook"
  [bookTarget]="bookInterlinearTarget" [customTranslation]="bookCustomTranslationTarget"
  [addPatternMenuRef]="addPatternMenuRef"></app-interlinear-component>
}
}
}
}
}