<header [class.minimized]="minimized" class="tools">
  <img class="logo" src="script.png" />
  <form>
    <fieldset>
      <legend>Translation</legend>
      <select #bibleTranslation name="bibleTranslation" placeholder="Translation">
        <option></option>
        <optgroup label="Normal">
          <option value="bible-pt-aa.json">Almeida Atualizada</option>
          <option value="bible-pt-acf.json">Almeida Corrigida Fiel</option>
          <option value="bible-pt-kja.json">King James Atualizada</option>
          <option value="bible-pt-nvi.json">Nova Versão Internacional</option>
          <option value="bible-pt-tb.json">Tradução Brasileira</option>
          <option value="bible-pt-vc.json">Versão Católica</option>
        </optgroup>
        <optgroup label="Gringo">
          <option value="bible-la-vulgata.json">Vulgata</option>
          <option value="bible-en-kjv.json">King James version</option>
          <option value="bible-el-greek.json">Grego moderno</option>
          <option value="bible-es-rv.json">Reina Valera</option>
          <option value="bible-zh-cuv-s.json">中文联盟版简体</option>
          <option value="bible-zh-cuv.json">中國聯合版</option>
        </optgroup>
      </select>

      <button (click)="loadTranslation(bibleTranslation.value); bibleTranslation.value = ''" type="button">+</button>
    </fieldset>

    <fieldset>
      <legend>Change chapter</legend>

      <select name="selectedBook" placeholder="Book" [ngModel]="formSelectedBook">
        @for (book of listBookNames(); track $index) {
          <option [value]="book.key">{{ book.name }}</option>
        }
      </select>

      <select name="selectedChapter" [(ngModel)]="formSelectedChapter">
        @for (chapter of getChapters(); track $index) {
        <option [value]="chapter - 1">{{ chapter }}</option>
        }
      </select>

      <button type="button" (click)="go()">Go</button>
      <button type="button" (click)="back()">Back</button>
      <button type="button" (click)="next()">Next</button>
    </fieldset>

    <fieldset>
      <legend>Patterns</legend>

      <button type="button" (click)="openDialogPatterns('hebraic')">Hebraic</button>
      <button type="button" (click)="openDialogPatterns('geez')">Ge'əz</button>
      <button type="button" (click)="openDialogPatterns('greek')">Greek</button>
    </fieldset>

    <fieldset>
      <legend>Lexical</legend>

      <button type="button" (click)="openDialogDictionary('hebrew')">Hebraic</button>
      <button type="button" (click)="openDialogDictionary('geez')">Ge'əz</button>
      <button type="button" (click)="openDialogDictionary('greek')">Greek</button>
    </fieldset>

    <fieldset>
      <legend>Dictionary</legend>

      <button type="button" (click)="openExternalDictionary('hebrew')">Hebraic</button>
      <button type="button" (click)="openExternalDictionary('geez')">Ge'əz</button>
      <button type="button" (click)="openExternalDictionary('greek')">Greek</button>
    </fieldset>

    <div class="sidebuttons">
      <button (click)="minimized = !minimized" class="minimize" type="button">▲</button>
    </div>
  </form>
</header>

@if (showLegend) {
<div class="legendBox">
  <table>
    <tr>
      <th>Text</th>
      <th>Meaning</th>
    </tr>
    <tr>
      <td>G</td>
      <td>God name</td>
    </tr>
    <tr>
      <td>C</td>
      <td>Character name</td>
    </tr>
    <tr>
      <td>K</td>
      <td>Keyword</td>
    </tr>
    <tr>
      <td>A</td>
      <td>Amount</td>
    </tr>
  </table>
</div>
}

<app-add-pattern-context-menu #addPatternMenuRef (optionSelected)="onAddPattern($event)"></app-add-pattern-context-menu>

@for (structure of project.structure; track $index) {
  @let selectedSourceBook = selectedBook[structure.metadataEditor.source];
  @if (current && selectedSourceBook) {

    @for (verse of selectedSourceBook.chapters[current.chapter]; track $index) {
      @let projectData = project.data?.[$index];
      
      @if (projectData) {
        @let parsedBook = parseBook(projectData.metadata[current.book], languageMetadataRecord[projectData.lang.source], pipeUpdaterController);

        <app-scripture-metadata-component
          [current]="current"
          [data]="projectData"
          [pipeUpdaterController]="pipeUpdaterController"
          [parsedBook]="parsedBook",
          [sourceBook]="selectedSourceBook"
          [sourceVerse]="verse"
          chapterTranslations
          [addPatternMenuRef]="addPatternMenuRef"
          (showLegend)="showLegend = $event"
        ></app-scripture-metadata-component>
    
        @for (item of structure.interlinearEditor; track $index) {
          <app-interlinear-component
            [current]="current"
            [data]="projectData"
            [pipeUpdaterController]="pipeUpdaterController"
            [sourceVerse]="verse"
            [addPatternMenuRef]="addPatternMenuRef"
            [parsedBook]="parsedBook"
            translation
          ></app-interlinear-component>
        }
      }
    }
  }
}
