@if (sourceVerse) {
  <h3>{{title}}</h3>

  @let wordListValue = wordList || splitByLanguageWordSeparator(sourceLanguage, sourceVerse.text);
  @let parsedBook = parseBook(bookTarget, sourceLanguage);
  @let wordMatrixValue = wordMatrix || splitIntoMatrix(parsedBook.patterns, sourceVerse.text);
  @let transliteration = languageMetadataRecord[sourceLanguage].transliteration;
  @let translations = getViewingTranslations();

  <div [class.minified]="minified" class="tableMinifiable">
    <div>
      <table border="1" frame="hsides" role="presentation">
        @for (translationInformation of translations; track $index) {
          @let verseIndex = getTranslationVerseIndex(translationInformation.verses);
          <tr>
            <th class="translationName">{{translationInformation.name}}</th>
            <td [colSpan]="wordListValue.length">{{translationInformation.verses[verseIndex].text}}</td>
            <td>
              <button type="button" (click)="onRemoveTranslation(translationInformation.source)">×</button>
            </td>
          </tr>
        }

        <tr>
          <th rowspan="2">scriptures</th>
          <td [colSpan]="wordListValue.length" [appAddPatternContextMenuTrigger]="addPatternMenuRef"
            [sourceLanguage]="sourceLanguage" [bookTarget]="bookTarget"
            [attr.lang]="languageMetadataRecord[sourceLanguage].label">
            @for (word of wordMatrixValue; track $index) {
              @for (segment of word.segments; track segment.index) {
                @if (segment.word.length) {
                  <span [class]="'prisma'+getColor(segment.index)">{{segment.word}}</span>
                }
              }
  
              @if (word.separator) {{{word.separator === ' ' ? '&nbsp;' : word.separator}}}
            }
          </td>
          <td></td>
        </tr>

        <tr
          [appAddPatternContextMenuTrigger]="addPatternMenuRef"
          [sourceLanguage]="sourceLanguage"
          [bookTarget]="bookTarget"
          [attr.lang]="languageMetadataRecord[sourceLanguage].label">
          @for (word of wordMatrixValue; track $index) {
            <td>
              @for (segment of word.segments; track segment.index) {
                @if (segment.word.length) {
                  <span [class]="'prisma'+getColor(segment.index)">{{segment.word}}</span>
                }
              }
            </td>
          }
          <td></td>
        </tr>

        @if (transliteration) {
          <tr>
            <th>transliteration</th>
            @for (word of wordMatrixValue; track $index) {
              <td>
                @for (segment of word.segments; track segment.index) {
                  @let transliterated = segment.word | functionProxy : transliteration;
                  @if (transliterated.length) {
                    <span [class]="'prisma'+getColor(segment.index)">{{transliterated}}</span>
                  }
                }
              </td>
            }
            <td></td>
          </tr>
        }
        <tr>
          <th>God said</th>
          @for (word of wordListValue; track $index; let wordIndex = $index) {
            <td>
              <input
                type="checkbox" #wordOfGodEl [name]="'isWordOfGod' + wordIndex"
                (change)="setAsWordOfGod(wordOfGodEl, wordMatrixValue, wordIndex)"
                [checked]="getScriptureMetadataWordOfGod(wordMatrixValue, wordIndex)"
              />
            </td>
          }
          <td><button (click)="cleanWordOfGodFromVerse()" type="button">×</button></td>
        </tr>
    
        <tr>
          <th [attr.rowspan]="lexicalRowspan">lexical</th>
          @for (word of wordMatrixValue; track $index) {
          <td>
            @for (segment of word.segments; track segment.index) {
              @let lexical = segment.word | lexical : parsedBook : sourceLanguage : pipeUpdaterController;
              <input type="text" [name]="'fieldLexical' + segment.index" [placeholder]="segment.word"
                #fieldLexical [style.width.px]="calcFieldSize(segment, lexical)"
                (input)="updateLexical(sourceLanguage, fieldLexical, segment)" [value]="lexical" />
            }
          </td>
          }
          <td rowspan="2"><button (click)="cleanLexicalLexical(wordMatrixValue)" type="button">×</button></td>
        </tr>
        <tr>
          <td [colSpan]="wordListValue.length">
            @for (word of wordMatrixValue; track $index) {
              @for (segment of word.segments; track segment.index) {
                @let lexical = segment.word | lexical : parsedBook : sourceLanguage : pipeUpdaterController;
                @if (lexical.length) {<span [class]="'prisma'+(segment.index % 7 + 1)">{{lexical}}</span>&nbsp;}
              }
            }
          </td>
        </tr>

        <ng-content></ng-content>
    
        @if (languageMetadataRecord[sourceLanguage].numerology) {
          @for (algorythm of languageMetadataRecord[sourceLanguage].numerology; track $index) {
          <tr>
            <th>{{algorythm.name}}</th>
            @for (word of wordListValue; track $index) {
              <td>{{word.word | functionProxy : algorythm.calc}}</td>
            }
            <td></td>
          </tr>
          }
        }
    
        @if (languageMetadataRecord[sourceLanguage].alternativeSpelling) {
          @for (spelling of languageMetadataRecord[sourceLanguage].alternativeSpelling; track $index) {
            <tr>
              <th rowspan="2">{{spelling.name}}</th>
      
              @for (word of wordMatrixValue; track $index) {
                <td [attr.lang]="languageMetadataRecord[sourceLanguage].label">
                  @for (segment of word.segments; track segment.index) {
                    @if (spelling.parse) {
                      @let alternativeSpelling = segment.word | functionProxy : spelling.parse;
                      @if (alternativeSpelling.length) {
                        <span [class]="'prisma'+(segment.index % 7 + 1)">{{alternativeSpelling}}</span>
                      }
                    } @else if (segment.word.length) {
                      <span [class]="'prisma'+(segment.index % 7 + 1)">{{segment.word}}</span>
                    }
                  }
                </td>
              }
              <td rowspan="2"></td>
            </tr>
      
            <tr>
              <td [colSpan]="wordListValue.length">
                @for (word of wordMatrixValue; track $index) {
                  @for (segment of word.segments; track segment.index) {
                    @if (spelling.parse) {
                      @let alternativeSpelling = segment.word | functionProxy : spelling.parse;
                      @if (alternativeSpelling.length) {
                        <span [class]="'prisma'+(segment.index % 7 + 1)">{{alternativeSpelling}}</span>
                      }
                    } @else if (segment.word.length) {
                      <span [class]="'prisma'+(segment.index % 7 + 1)">{{segment.word}}</span>
                    }
                  }
    
                  @if (word.separator) {
                    @if (spelling.parse) {
                      {{word.separator | functionProxy : spelling.parse}}
                    } @else {
                      {{word.separator}}
                    }
                  }
                }
              </td>
            </tr>
          }
        }

      </table>
    </div>
  
    <button (click)="minified = !minified" type="button"></button>
  </div>

  @if (customTranslation) {
    <app-custom-translation-component [bookTarget]="bookTarget" [translationLanguage]="sourceLanguage"
      [current]="current" [sourceBook]="sourceBook" [parsedBook]="parsedBook" [sourceVerse]="sourceVerse"
      [wordMatrix]="wordMatrixValue" [customTranslation]="customTranslation"></app-custom-translation-component>
  }
}

@for (item of structure.interlinear; track $index) {
  @let bookInterlinearSource = sourceBookRecord[item.source];
  @let bookInterlinearMetadataTarget = projectData[item.metadataTarget];
  @let bookInterlinearTarget = projectData[item.interlinearTarget];
  @let bookCustomTranslationTarget = item.customTranslationTarget ? projectData[item.customTranslationTarget] : undefined;

  @if (bookInterlinearSource) {
    @let correspondingIndex = getInterlinearCorrespondingIndex(item);
    @let verseInterlinearSource = bookInterlinearSource.chapters[correspondingIndex.chapter].verses[correspondingIndex.verse];
    @let interlinearSourceLanguage = codexMetadataRecord[item.source].language;
    @let interlinearCurrent = getInterlinearCorrespondingCurrentChapter(item);

    <app-interlinear-component
      title="Interlinear" [current]="interlinearCurrent" [originStructure]="structure"
      [structure]="item" [verseIndex]="correspondingIndex.verse" [codexMetadataRecord]="codexMetadataRecord"
      [sourceLanguage]="interlinearSourceLanguage" [originLanguage]="sourceLanguage" [sourceBookRecord]="sourceBookRecord"
      [project]="project" [projectData]="projectData" [pipeUpdaterController]="pipeUpdaterController"
      [originVerse]="sourceVerse" [sourceBook]="bookInterlinearSource" [sourceVerse]="verseInterlinearSource"
      [interlinearTarget]="bookInterlinearTarget" [bookTarget]="bookInterlinearMetadataTarget"
      [viewingTranslationBookRecord]="viewingTranslationBookRecord"
      [customTranslation]="bookCustomTranslationTarget" [addPatternMenuRef]="addPatternMenuRef"
    ></app-interlinear-component>
  }
}