<form [formGroup]="form" (ngSubmit)="onAddPatternSubmit()">
  <fieldset>
    <legend>Create word extrapolation</legend>

    <div>
      <label for="word">Word</label>
      <input id="word" type="text" formControlName="word" placeholder="word" />
      @if (form.get('word')?.invalid && form.get('word')?.touched) {
        <small class="error">Word value is required</small>
      }
    </div>

    <div>
      <label for="type">Type</label>
      <select id="type" formControlName="type">
        <option selected value="prefix">Prefix</option>
        <option value="suffix">Suffix</option>
        <option value="lexeme">Lexeme</option>
      </select>
      @if (form.get('type')?.invalid && form.get('type')?.touched) {
        <small class="error">Type selection is required</small>
      }
    </div>

    <button type="submit" [disabled]="form.invalid">Create</button>
  </fieldset>
</form>

<div class="wrapper">
  <table class="textCenter" border="1" role="presentation">
    <thead>
      <tr>
        <th>Type</th>
        <th>Pattern</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th colspan="3">{{languageMetadataRecord[language].name}}</th>
      </tr>
      @for (pattern of patterns.prefix; track $index) {
      <tr>
        <td>prefix</td>
        <td>{{pattern}}</td>
        <td><button type="button" (click)="deletePattern('prefix', $index)">×</button></td>
      </tr>
      }
  
      @for (pattern of patterns.suffix; track $index) {
      <tr>
        <td>suffix</td>
        <td>{{pattern}}</td>
        <td><button type="button" (click)="deletePattern('suffix', $index)">×</button></td>
      </tr>
      }
  
      @for (pattern of patterns.lexeme; track $index) {
      <tr>
        <td>lexeme</td>
        <td>{{pattern}}</td>
        <td><button type="button" (click)="deletePattern('lexeme', $index)">×</button></td>
      </tr>
      }
    </tbody>
  </table>
</div>