<header class="tools">
  <div class="buttonGroup">
    <img class="logo" src="script.png" />
    <button class="save" type="button" (click)="save()"></button>
  </div>
  <form>
    <fieldset>
      <legend>Artifacts Management</legend>

      <div>
        <button (click)="addArtifactCollection()" type="button">Add collection</button>
        <hr />
        <button (click)="addArtifacts()" type="button">Add artifacts</button>
      </div>
    </fieldset>

    <fieldset>
      <legend>Navigation</legend>

      <div>
        <select name="selectedBook" [(ngModel)]="formSelectedCollectionOrBook">
          @if (context === 'translator') {
            <ng-container *ngTemplateOutlet="booksTemplate"></ng-container>
            <ng-container *ngTemplateOutlet="collectionsTemplate"></ng-container>
          } @else if (context === 'transcriptor') {
            <ng-container *ngTemplateOutlet="collectionsTemplate"></ng-container>
            <ng-container *ngTemplateOutlet="booksTemplate"></ng-container>
          }
        </select>
  
        <input name="selectedChapter" class="selectedChapter" [(ngModel)]="formSelectedArtifactOrChapter" type="number" />
      </div>
      
      <div>
        <button type="button" (click)="open()">Go</button>
        <button type="button" [attr.disabled]="formSelectedArtifactOrChapter === 0 ? 'disabled': null"
          (click)="back()">Back</button>
        <button type="button" (click)="next()">Next</button>
      </div>
    </fieldset>

    <ng-content></ng-content>

    <div class="sidebuttons">
      <button (click)="minimized = !minimized" class="minimize" type="button">▲</button>
    </div>
  </form>
</header>

<ng-template #booksTemplate>
  @let bookNames = listBookNames();
  @if (bookNames.length) {
    <optgroup label="Books">
      @for (book of bookNames; track $index) {
        <option [value]="'book-'+book.key">{{ book.name }}</option>
      }
    </optgroup>
  }
</ng-template>

<ng-template #collectionsTemplate>
  @if (collections.length) {
    <optgroup label="Artifact Collections">
      @for (collection of collections; track $index) {
        <option [value]="'collection-'+collection.folder">{{ collection.name }}</option>
      }
    </optgroup>
  }
</ng-template>