@let wordList = sourceVerse.text.split(' ');
@let eachWord = splitIntoMatrix(sourceVerse.text);
@let sourceLanguageAttributes = languageMetadataRecord[sourceLanguage];

<table border="1">
  <tr>
    <th rowspan="2">{{sourceLanguageAttributes.name}}</th>
    <td [colSpan]="wordList.length" [appAddPatternContextMenuTrigger]="addPatternMenuRef" [sourceLanguage]="sourceLanguage" [bookTarget]="bookTarget" [attr.lang]="sourceLanguageAttributes.label">
      @for (sentence of eachWord; track $index) {
      @for (word of sentence; track word.index) {
      <span [class]="'prisma'+getTranslationColor(word.index)">{{word.word}}</span>
      }
      <span>&nbsp;</span>
      }
    </td>
    <td rowspan="2"></td>
  </tr>
  <tr [appAddPatternContextMenuTrigger]="addPatternMenuRef" [sourceLanguage]="sourceLanguage" [bookTarget]="bookTarget" [attr.lang]="sourceLanguageAttributes.label">
    @for (sentence of eachWord; track $index) {
    <td>
      @for (word of sentence; track word.index) {
      <span [class]="'prisma'+getTranslationColor(word.index)">{{word.word}}</span>
      }
    </td>
    }
  </tr>

  @if (sourceLanguageAttributes.transliteration) {
    <tr>
      <th>transliteration</th>
      @for (sentence of eachWord; track $index) {
      <td>
        @for (word of sentence; track word.index) {
        <span [class]="'prisma'+getTranslationColor(word.index)">{{word.word | functionProxy : sourceLanguageAttributes.transliteration}}</span>
        }
      </td>
      }
      <td></td>
    </tr>
  }
  <tr>
    <th rowspan="2">interlinear</th>
    @for (sentence of eachWord; track $index) {
    <td>
      @for (word of sentence; track $index) {
      @let literal = word.word | lexical : parsedBook : pipeUpdaterController;
      <input type="text" [name]="'fieldTranslation' + word.index" [placeholder]="word.word" #field
        [style.width.px]="calcFieldSize(word.word, literal)" (input)="updateLexical(sourceLanguage, field, word.word)"
        [value]="literal" />
      }
    </td>
    }
    <td rowspan="2"><button type="button" (click)="cleanLexicalInterlinear(eachWord)">×</button></td>
  </tr>
  <tr>
    <td [colSpan]="wordList.length">
      @for (sentence of eachWord; track $index) {
      @for (word of sentence; track word.index) {
      <span [class]="'prisma'+getTranslationColor(word.index)">{{word.word | literalizate : parsedBook : pipeUpdaterController}}</span>
      <span>&nbsp;</span>
      }
      }
    </td>
  </tr>
  <tr>
    <th>scriptures</th>
    @for (sentence of eachWord; track $index) {
    <td>
      @for (translationWord of sentence; track $index) {
      <select #interlinear
        (change)="onSelectInterlinearGeezToScripture(translationWord.index, translationWord.word, interlinear.value)"
        [ngModel]="getInterlinear(translationWord.index)"
        [name]="'translationToSourceInterlinear' + $index + '-' + translationWord.word">
        <option value=""></option>
        @for (wordSegments of eachWord; track $index) {
        @for (segment of wordSegments; track $index) {
        <option [value]="castSegmentIntoMetadataIndex(segment)">({{segment.index}} - {{segment.word}} )
        </option>
        }
        }
      </select>
      }
    </td>
    }
    <td><button type="button" (click)="cleanTranslationInterlinear()">×</button></td>
  </tr>
</table>

@if (customTranslation) {
  <app-custom-translation-component
    [bookTarget]="bookTarget"
    [interlinear]="bookTarget"
    [translationSourceLanguage]="sourceLanguage"
    [current]="current"
    [parsedBook]="parsedBook"
    [sourceBook]="sourceBook"
    [sourceVerse]="sourceVerse"
    [eachWord]="eachWord"
    [customTranslation]="customTranslation"
  ></app-custom-translation-component>
}
