:host {
  margin-top: 5rem;
  display: block;
}

th {
  min-width: 135px;
}

strong.verseTitle {
  display: block;
  text-align: center;
  margin-top: 1rem;
}

.selectedArtifact,
.selectedChapter {
  width: 40px;
}

.languageButtonGroup {
  display: flex;
  flex-direction: column;
}

.literalInput {
  min-width: 20px;
}

.textCenter {
  text-align: center;
}
