
<app-project-header (onProject)="onProjectChange($event)" (onCurrentChapter)="onCurrentChapterChange($event)">
  @if (project && codexMetadataRecord) {
    @let targetMetadataDetails = getProjectTargetsMetadataDetails(project, codexMetadataRecord);
    @let customTranslationsDetails = getProjectTranslationsDetails(project, codexMetadataRecord);
  
    <app-translation-viewer-manager
      [project]="project"
      [codexMetadataRecord]="codexMetadataRecord"
      (addViewingTranslation)="onAddViewingTranslation(project, $event)"
    ></app-translation-viewer-manager>
  
    <fieldset>
      <legend>Import configs</legend>
      <button type="button" (click)="openImportFromBookDialog(project, targetMetadataDetails)">Import from book</button>
    </fieldset>
  
    <fieldset>
      <legend>Patterns</legend>
  
      <div class="languageButtonGroup">
        @for (detail of targetMetadataDetails; track $index) {
          <button type="button" (click)="openPatternsDialog(detail)">{{codexMetadataRecord[detail.source].name}}</button>
        }
      </div>
    </fieldset>
  
    <fieldset>
      <legend>Lexical</legend>
  
      <div class="languageButtonGroup">
        @for (detail of targetMetadataDetails; track $index) {
          <button type="button"
            (click)="openLexicalDictionaryDialog(detail)">{{codexMetadataRecord[detail.source].name}}</button>
        }
      </div>
    </fieldset>
  
    @if (customTranslationsDetails) {
      <fieldset>
        <legend>Translation Variations</legend>
  
        <div class="languageButtonGroup">
          @for (detail of customTranslationsDetails; track $index) {
            <button type="button"
              (click)="openTranslationVariationsConfigDialog(detail)">{{codexMetadataRecord[detail.source].name}}</button>
          }
        </div>
      </fieldset>
    }
  }
</app-project-header>

<app-add-pattern-context-menu #addPatternMenuRef [current]="current"></app-add-pattern-context-menu>

@if (project && codexMetadataRecord) {
  @for (structure of project.structure; track $index) {
    @let sourceCodex = codexMetadataRecord[structure.source];
    @let selectedSourceBook = sourceBookRecord[structure.source];
    @let bookMetadata = projectData[structure.metadataTarget];
    @let bookCustomTranslation = structure.customTranslationTarget ? projectData[structure.customTranslationTarget] : undefined;
  
    @if (current && selectedSourceBook) {
      @let chapterIndex = getChapterIndex(current, selectedSourceBook.chapters);
      @for (verse of selectedSourceBook.chapters[chapterIndex].verses; track $index; let verseIndex = $index) {

        <h2 class="verseTitle">
          {{sourceCodex.books && sourceCodex.books[current.book].name}}, {{current.chapter}}:{{verse}}
        </h2>
  
        <fieldset [class.minified]="minifiedFieldset[verseIndex]" class="fieldsetMinifiable">
          <legend>{{sourceCodex.books && sourceCodex.books[current.book].name}}, {{current.chapter}}:{{verse}}</legend>
          <app-scripture-metadata-component [current]="current" [structure]="structure" [sourceBookRecord]="sourceBookRecord" [sourceLanguage]="sourceCodex.language"
            [codexMetadataRecord]="codexMetadataRecord" [projectData]="projectData" [bookTarget]="bookMetadata" [sourceBook]="selectedSourceBook"
            [sourceVerse]="verse" [verseIndex]="verseIndex" [customTranslation]="bookCustomTranslation" [addPatternMenuRef]="addPatternMenuRef"
            [viewingTranslationBookRecord]="translationBookRecord" [pipeUpdaterController]="pipeUpdaterController"
          ></app-scripture-metadata-component>

          <button (click)="minifiedFieldset[verseIndex] = !minifiedFieldset[verseIndex]" type="button"></button>
        </fieldset>
      }
    }
  }
}
