
<app-project-header (onProject)="onProjectChange($event)" (onCurrentChapter)="onCurrentChapterChange($event)">
  @if (project && codexMetadataRecord) {
    @let targetMetadataDetails = getProjectTargetsMetadataDetails(project, codexMetadataRecord);
    @let customTranslationsDetails = getProjectTranslationsDetails(project, codexMetadataRecord);
  
    <app-translation-viewer-manager
      [project]="project"
      [codexMetadataRecord]="codexMetadataRecord"
      (addViewingTranslation)="onAddViewingTranslation(project, $event)"
    ></app-translation-viewer-manager>
  
    <fieldset>
      <legend>Import configs</legend>
      <button type="button" (click)="openImportFromBookDialog(project, targetMetadataDetails)">Import from book</button>
    </fieldset>
  
    <fieldset>
      <legend>Patterns</legend>
  
      <div class="languageButtonGroup">
        @for (detail of targetMetadataDetails; track $index) {
          <button type="button" (click)="openPatternsDialog(detail)">{{codexMetadataRecord[detail.source].name}}</button>
        }
      </div>
    </fieldset>
  
    <fieldset>
      <legend>Lexical</legend>
  
      <div class="languageButtonGroup">
        @for (detail of targetMetadataDetails; track $index) {
          <button type="button"
            (click)="openLexicalDictionaryDialog(detail)">{{codexMetadataRecord[detail.source].name}}</button>
        }
      </div>
    </fieldset>
  
    @if (customTranslationsDetails) {
      <fieldset>
        <legend>Translation Variations</legend>
  
        <div class="languageButtonGroup">
          @for (detail of customTranslationsDetails; track $index) {
            <button type="button"
              (click)="openTranslationVariationsConfigDialog(detail)">{{codexMetadataRecord[detail.source].name}}</button>
          }
        </div>
      </fieldset>
    }
  }
</app-project-header>

<app-add-pattern-context-menu #addPatternMenuRef [current]="current"></app-add-pattern-context-menu>

@if (project && codexMetadataRecord) {
  @for (structure of project.structure; track $index) {
    @let sourceCodex = codexMetadataRecord[structure.metadata.source];
    @let selectedSourceBook = sourceBookRecord[structure.metadata.source];
    @let bookMetadata = projectData[structure.metadata.target];
    @let bookCustomTranslation = structure.metadata.customTranslation ? projectData[structure.metadata.customTranslation] : undefined;
  
    @if (current && selectedSourceBook) {
      @let chapterIndex = getChapterIndex(current, selectedSourceBook.chapters);
      @for (verse of selectedSourceBook.chapters[chapterIndex].verses; track $index; let fieldsetIndex = $index) {
        @let parsedBook = parseBook(bookMetadata, languageMetadataRecord[sourceCodex.language], pipeUpdaterController);
  
        <h2 class="verseTitle">
          {{sourceCodex.books && sourceCodex.books[current.book].name}}, {{current.chapter}}:{{verse | verseNumber}}
        </h2>
  
        <fieldset [class.minified]="minifiedFieldset[fieldsetIndex]" class="fieldsetMinifiable">
          <legend>{{sourceCodex.books && sourceCodex.books[current.book].name}}, {{current.chapter}}:{{verse | verseNumber}}</legend>
          <app-scripture-metadata-component [current]="current" [source]="structure.metadata.source" [sourceLanguage]="sourceCodex.language"
            [bookTarget]="bookMetadata" [parsedBook]="parsedBook" [sourceBook]="selectedSourceBook" [sourceVerse]="verse"
            [customTranslation]="bookCustomTranslation" [addPatternMenuRef]="addPatternMenuRef"
            [viewingTranslationBookRecord]="translationBookRecord" [pipeUpdaterController]="pipeUpdaterController"
            (removeTranslation)="onRemoveTranslation(project, structure.metadata.source, $event)"
          ></app-scripture-metadata-component>
  
          @for (item of structure.interlinear; track $index) {
            @let bookInterlinearSource = sourceBookRecord[item.source];
            @let bookInterlinearTarget = projectData[item.target];
            @let bookCustomTranslationTarget = item.customTranslation ? projectData[item.customTranslation] : undefined;
  
            @if (bookInterlinearSource) {
              @let verseInterlinearSource = bookInterlinearSource.chapters[chapterIndex].verses[verse.verse.index];
              @let langInterlinearSource = codexMetadataRecord[item.source].language;
              @let parsedInterlinearBook = parseBook(bookInterlinearTarget, languageMetadataRecord[langInterlinearSource], pipeUpdaterController);
  
              <app-interlinear-component [current]="current" [source]="item.source" [sourceLanguage]="langInterlinearSource"
                [pipeUpdaterController]="pipeUpdaterController" [parsedOriginBook]="parsedBook" [originVerse]="verse"
                [sourceBook]="bookInterlinearSource" [sourceVerse]="verseInterlinearSource" [parsedBook]="parsedInterlinearBook"
                [bookTarget]="bookInterlinearTarget" [viewingTranslationBookRecord]="translationBookRecord"
                [customTranslation]="bookCustomTranslationTarget" [addPatternMenuRef]="addPatternMenuRef"
                (removeTranslation)="onRemoveTranslation(project, item.source, $event)"></app-interlinear-component>
            }
          }

          <button (click)="minifiedFieldset[fieldsetIndex] = !minifiedFieldset[fieldsetIndex]" type="button"></button>
        </fieldset>
      }
    }
  }
}
