@let wordList = sourceVerse.text.split(' ');
@let eachWord = splitIntoMatrix(parsedBook, sourceVerse.text);
@let transliteration = languageMetadataRecord[data.lang.source].transliteration;

<strong class="verseTitle">
  {{bookName}}, {{chapter + 1}}:{{sourceVerse | verse}}
</strong>
<table border="1">
  @for (chapterTranslation of chapterTranslations; track $index) {
  <tr>
    <th>translation <button type="button" (click)="cleanTranslationByIndex($index)">×</button></th>
    <td [colSpan]="wordList.length">{{chapterTranslation[sourceVerse.verse.index] && chapterTranslation[sourceVerse.verse.index].text}}</td>
    <td></td>
  </tr>
  }
  <tr>
    <th rowspan="2">scriptures</th>
    <td [colSpan]="wordList.length" [appAddPatternContextMenuTrigger]="addPatternMenuRef" [attr.lang]="languageMetadataRecord[data.lang.source].label">
      @for (sentence of eachWord; track $index) {
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word}}</span>
      }
      <span>&nbsp;</span>
      }
    </td>
    <td></td>
  </tr>
  <tr [appAddPatternContextMenuTrigger]="addPatternMenuRef" [attr.lang]="languageMetadataRecord[data.lang.source].label">
    @for (sentence of eachWord; track $index) {
    <td>
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word}}</span>
      }
    </td>
    }
    <td></td>
  </tr>

  @if (transliteration) {
    <tr>
      <th>transliteration</th>
      @for (sentence of eachWord; track $index) {
      <td>
        @for (word of sentence; track $index) {
        <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word | functionProxy : transliteration}}</span>
        }
      </td>
      }
      <td></td>
    </tr>
  }
  <tr>
    <th>God said</th>
    @for (word of wordList; track $index; let wordIndex = $index) {
    <td>
      <input type="checkbox" #wordOfGodEl [name]="'isWordOfGod' + wordIndex"
        (change)="setAsWordOfGod(wordOfGodEl, eachWord[wordIndex])"
        [checked]="getScriptureMetadataWordOfGod(eachWord[wordIndex])" />
    </td>
    }
    <td><button (click)="cleanWordOfGodFromVerse()" type="button">×</button></td>
  </tr>

  <tr>
    <th>metadata</th>
    @for (word of eachWord; track $index; let wordIndex = $index) {
    <td>
      @for (segment of word; track $index; let segmentIndex = $index) {
      <select #metadataEl [name]="'fieldMetadata' + segment.index"
        [value]="getScriptureMetadataDefinedKind(segment)"
        (change)="updateScripturesMetadata(metadataEl, sourceVerse, segment)"
        (focus)="showLegend.emit(true)" (blur)="showLegend.emit(false)">
        <option value="">-</option>
        <option value="godname">G</option>
        <option value="character">C</option>
        <option value="keyword">K</option>
        <option value="amount">A</option>
      </select>
      }
    </td>
    }
    <td><button (click)="cleanScriptureMetadata(sourceVerse.verse.index)" type="button">×</button></td>
  </tr>

  <tr>
    <th rowspan="2">interlinear</th>
    @for (sentence of eachWord; track $index) {
    <td>
      @for (word of sentence; track $index) {
      @let lexical = word.word | lexical : data.metadata[current.book] : pipeUpdaterController;
      <input type="text" [name]="'fieldHebraic' + word.index" [placeholder]="word.word" #fieldHebraicLexical
        [style.width.px]="calcFieldSize(word.word, lexical)"
        (input)="updateLexical(fieldHebraicLexical, word.word)" [value]="lexical" />
      }
    </td>
    }
    <td rowspan="2"><button (click)="cleanLexicalInterlinear(eachWord)" type="button">×</button></td>
  </tr>
  <tr>
    <td [colSpan]="wordList.length">
      @for (sentence of eachWord; track $index) {
      @for (word of sentence; track $index) {
      <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word | literalizate : parsedBook : pipeUpdaterController}}</span>
      <span>&nbsp;</span>
      }
      }
    </td>
  </tr>

  @if (languageMetadataRecord[data.lang.source].numerology) {
    @for (algorythm of languageMetadataRecord[data.lang.source].numerology; track $index) {
      <tr>
        <th>{{algorythm.name}}</th>
        @for (word of wordList; track $index) {
          <td>{{word | functionProxy : algorythm.calc}}</td>
        }
        <td></td>
      </tr>
    }
  }

  @if (languageMetadataRecord[data.lang.source].alternativeSpelling) {
    @for (spelling of languageMetadataRecord[data.lang.source].alternativeSpelling; track $index) {
      <tr>
        <th rowspan="2">{{spelling.name}}</th>
    
        @for (sentence of eachWord; track $index) {
        <td [attr.lang]="languageMetadataRecord[data.lang.source].label">
          @for (word of sentence; track $index) {
            @if (spelling.parse) {
              <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word | functionProxy : spelling.parse}}</span>
            } @else {
              <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word}}</span>
            }
          }
        </td>
        }
        <td rowspan="2"></td>
      </tr>

      <tr>
        <td [colSpan]="wordList.length">
          @for (sentence of eachWord; track $index) {
            @for (word of sentence; track $index) {
              @if (spelling.parse) {
                <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word | functionProxy : spelling.parse}}</span>
              } @else {
                <span [class]="'prisma'+(word.index % 7 + 1)">{{word.word}}</span>
              }
            }
            <span>&nbsp;</span>
          }
        </td>
      </tr>
    }
  }
</table>

@for (target of data.lang.target; track $index) {
  <app-custom-translation-component
    [data]="data"
    [current]="current"
    [sourceBook]="sourceBook"
    [parsedBook]="parsedBook"
    [target]="target"
    [sourceVerse]="sourceVerse"
    [eachWord]="eachWord"
    [customTranslation]="customTranslation"
  ></app-custom-translation-component>
}
