@font-face {
  font-family: 'hebrew';
  src: url("/public/hebrew.woff2") format("woff2"),
    url("/public/hebrew.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
}

a {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

[lang="hebraic"] [class^="prisma"] {
  font-family: 'hebrew';
}

input[type=checkbox] {
  cursor: pointer;
}
