@font-face {
  font-family: 'hebrew';
  src: url('../public/font/hebrew.woff2') format('woff2'),
    url('../public/font/hebrew.woff') format('woff');
}

@font-face {
  font-family: 'paleo-hebrew';
  src: url('../public/font/phoenician.ttf') format('truetype');
}

@font-face {
  font-family: 'greek';
  src: url('../public/font/greek.ttf') format('truetype');
}

@font-face {
  font-family: 'geez';
  src: url('../public/font/menbere.ttf') format('truetype');
}

@font-face {
  font-family: 'sanskrit';
  src: url('../public/font/sanskrit.ttf') format('truetype');
}

@font-face {
  font-family: 'gentium-transliteration';
  src: url('../public/font/gentium-transliteration.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
}

body,
select,
select option,
::placeholder {
  font-family: 'gentium-transliteration', 'hebrew', 'paleo-hebrew', 'greek', 'geez', 'sanskrit', serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  cursor: pointer;
}

h2,
h3 {
  text-align: center;
}

input[type=checkbox],
button {
  cursor: pointer;
}

td > .configField {
  min-width: 90%;
}

.configFieldWrapper {
  display: flex;
}

.configFieldWrapper > .configField {
  flex: 1 1 0px;
}

.tableMinifiable {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  contain: layout style paint;
}

.tableMinifiable > div {
  max-width: calc(100vw - 6rem);
  overflow: auto;
  border-left: 1px solid;
  border-right: 1px solid;
}

.tableMinifiable > div > table {
  border-collapse: collapse;
  contain: content;
}

.tableMinifiable > button {
  height: 21px;
}

.tableMinifiable > button::before {
  content: '-';
}

.tableMinifiable.minified {
  overflow: hidden;
}

.tableMinifiable.minified > div {
  border: none;
}

.tableMinifiable.minified > div > table {
  max-height: 4px;
  overflow: hidden;
  display: block;
}

.tableMinifiable.minified > button::before {
  content: '+';
}

th {
  font-weight: bold;
  padding: 0 1rem;
}

[class^="prisma"] {
  font-size: 20px;
}

.prisma {
  color: #333;
  font-size: 16px;
  &:not(.prisma + .prisma):not(.prisma + .prisma-gap + .prisma)::before {
    content: "[";
  }

  &:not(:has(+ .prisma, + .prisma-gap + .prisma))::after {
    content: "]";
  }
}

.prisma1 {
  color: rgb(211, 1, 1);
}

.prisma2 {
  color: rgb(236, 106, 0);
}

.prisma3 {
  color: rgb(206, 203, 0);
}

.prisma4 {
  color: rgb(77, 187, 5);
}

.prisma5 {
  color: rgb(1, 146, 165);
}

.prisma6 {
  color: rgb(59, 0, 168);
}

.prisma7 {
  color: rgb(206, 1, 179);
}

.godsaid {
  color: red;
}

.hidden {
  display: none !important;
}

.save {
  background-image: url('../public/save.png');
}

.loading {
  background-image: url('../public/loading.gif');
}